@import "variables";
@import "mixins";
@import "reset";
@import "slick-theme";
@import "slick";
@import "lity";
@import "loading";
html, body {
	width: 100%;
	height: auto;	
	font-family: $karla;	
	font-size: 100%;		
	color: $gris-d; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  	
}

img {
	&.lazy {
		opacity: 0;
		transition: .5s;
		&.loaded {
			opacity: 1;
		}
	}
}

.primary-title {
	margin: 2em 0;
	font-size: 1.5em;
	font-family: $play;
	text-transform: uppercase;	
}

.btn-primary {
	border: solid thin $gris-d;
	background: none;
	display: inline-block;
	color: $gris-d;
	font-size: 1em;
	padding: .5em 1em;
	text-transform: uppercase;
	transition: all .25s;
	margin: .5em 0;
	&:hover, &:focus {
		border: solid thin $gris-d;
		background: $gris-l;
		color: $gris-d;
	}
	&:focus {
		outline: none;
	}
}

.banner-full {
	margin: 2em 0;
	img {
		width: 100%;
		height: auto;
	}
}

.banner-50 {
	margin: 1.5em 0;
	@media (max-width: 768px) {
		margin: 0 0 1em;
	}
	.col-lg-6 {
		@media (min-width: 965px) {
			&:nth-child(1) {
				padding-left: 0;
				margin: 0 0 1em;
			}
			&:nth-child(2) {
				padding-right: 0;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		@media (max-width: 768px) {
			margin: 0 0 1em;
		}
	}
}

.gnrl-form {
	input {
		margin: 0 0 1em;
		&[type="text"] {
			background: none;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: solid thin $gris-l;
			display: block;
			width: 100%;
			padding: .25em 0;
			@include placeholder {
				text-transform: uppercase;
			}
		}
	}
	select {
		@include no-appearance;
		display: block;
		color: $gris-d;
		padding: .25em 0;		
		margin: 0 0 1em;
		width: 100%;
		background: url("../images/arrow-select.png") no-repeat;
		background-position: 98% 50%;	
		border: none;
		border-bottom: solid thin $gris-l;
		border-radius: 0;
		text-transform: uppercase;
	}
	
	textarea {
		display: block;
		border: none;				
		width: 100%;
		padding: .25em;
		margin: 1em 0 2em;
		resize: none;
		font-size: .75em;
		background: rgba(0, 0, 0, .0);
		height: 90px;
		border-bottom: solid thin $gris-l;
		transition: all .5s;
		@include placeholder {
			text-transform: uppercase;
			color: $gris-d;
			font-size: 1.25em;
		}
		&:focus {					
			background: rgba(0, 0, 0, .15);
		}
	}
	button {
		background: $green-d;
		border: none;
		border-radius: 0;	
		padding: .5em .25em;
		width: 100px;
		text-align: center;
		color: white;
		display: block;
		margin: .5em auto;			
	}
}

header {
	position: absolute;
	width: 100%;
	border-bottom: solid thin white;
	background-color: rgba(0, 0, 0, .25);			
	z-index: 2;
	color: white;	
	@media (max-width: 768px) {
		padding: 1.25em .5em;
		.row {
			align-items: center;
		}
	}
	&.header-int {
		@media (max-width: 768px) {
			background: white;
			border-bottom: solid thin $gris-l;
			.navbar {
				.top {
					ul {
						li {
							a {
								color: $gris-d;
							}
							&:last-child {
								border: solid thin $gris-d;
								padding: .125em .25em;
								@media (max-width: 768px) {
									border-left: none;
									border-top: none;
									border-bottom: none;
									border-right: solid thin white;
								}
								a {
									&:after {
										display: none;
									}
								}						
							}
						}
					}
				}
			}
		}				
	}
	.brand-image {
		margin: 2em 0 1em;
		@media (max-width: 768px) {
			margin: 0;
			padding: 0 0 0 1.5em;
		}
	}
	@media (max-width: 768px) {
		position: fixed;		
		z-index: 10;
	}
	.navbar {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		@media (max-width: 768px) {
			flex-direction: row;
			padding: 0;
			align-items: center;
		}
		button {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			
			transition: all 1s;
			&.collapsed {
				span {
					width: 30px;
					height: 2px;
					margin: 0 0 .25em;
					display: block;
					background: $yellow-d;
					&:nth-child(1) {
						transform: rotate(0);	
						top: -.125em;										
					}
					&:nth-child(2) {
						width: 20px;
						opacity: 1;
						top: 2.5em;
					}
					&:nth-child(3) {
						transform: rotate(0);						
						bottom: -.125em;	
					}
				}
			}	
			span {
				width: 30px;
				height: 2px;
				margin: 0 0 .25em;
				display: block;
				background: $yellow-d;
				&:nth-child(1) {
					transform: rotate(45deg);
					position: absolute;
					top: .5em;
				}
				&:nth-child(2) {
					opacity: 0;
				}
			&:nth-child(3) {
					transform: rotate(-45deg);
					position: absolute;
					bottom: 0;
				}
			}		
		}
		ul {				
			li {
				a {
					text-transform: uppercase;
					color: white;
					&.nav-link {
						font-size: .85em;
						font-weight: 700;
						padding: 0 2em .25em;
						position: relative;
						@media (max-width: 768px) {
							padding: 1.5em 2em;
							border-bottom: solid thin $gris-l;
						}
						&:hover {
							&:after {
								content: "";
								display: block;
								position: absolute;
								left: 0;
								right: -.5em;
								margin: auto;
								bottom: -1.675em;
								width: 100%;
								height: 7px;
								background: $yellow-d;
							}
							@media (max-width: 925px) {
								&:after {
									display: none;
								}								
							}
						}
					}
				}
			}
		}
		.top {
			margin: .75em 0 1.25em;
			@media (max-width: 768px) {
				margin: 0;
			}
			ul {
				display: flex;
				align-items: center;
				li {
					list-style: none;
					@media (max-width: 768px) {
						border-right: solid thin white;
					}
					a {
						color: white;
						padding: 0 1em;
						font-size: .75em;
						font-weight: 700;
						position: relative;		
						@media (max-width: 768px){
							display: block;
							padding: 2em 1em;
						}
						@media (max-width: 325px){					
							padding: 2em .5em;
						}
						&:after {
							content: "";
							display: block;
							position: absolute;
							right: 0;
							top: 0;
							height: 15px;
							width: 1px;
							background: white;
						}
					}
					&:nth-child(3) {					
						a {
							&:after {
								display: none;
							}
						}						
					}
					/*&:last-child {
						border: solid thin white;
						padding: .125em .25em;
						@media (max-width: 768px) {
							border-left: none;
							border-top: none;
							border-bottom: none;
							border-right: solid thin white;
						}
						a {
							&:after {
								display: none;
							}
						}					
					}*/
					@media (max-width: 768px) {
						&:nth-child(1), &:nth-child(2), &:nth-child(3) {
							display: none;
						} 
					}
				}
			}
		}
		.navbar-collapse {
			width: 100%;
			justify-content: space-between;
			@media (max-width: 768px) {
				position: fixed;
				top: 4.75em;
				left: 0;
				background: white;
				.navbar-nav {
					li {
						a {
							color: $gris-d;
						}
					}
				}
				.box-mobile {
					&__btns {
						display: flex;
						justify-content: center;
						width: 80%;
						margin: 1em auto;
						li {
							list-style: none;
							padding: .5em;
							a {
								min-width: 130px;
								background: $green-d;
								display: inline-block;
								padding: .5em 1em;
								color: white;
								text-align: center;
								text-transform: uppercase;
							}
						}
					}
					&__social {
						display: flex;		
						margin: 0 0 2em;
						@media (max-width: 768px) {
							align-items: center;
							justify-content: center;
						}	
						li {
							margin: 0 2em 0 0;
							list-style: none;
							@media (max-width: 768px) {
								margin: 0 1em;
							}
							a {
								font-size: 1.125em;
								color: $gris-d;
							}
						}
					}
				}					
			}
		}
		.navbar-nav {
			width: 100%;
			justify-content: space-between;
			.nav-link {
				padding-right: 0;
			}
			@media (max-width: 768px) {
				width: 90%;
				margin: 0 auto;
			}
		}		
	}
	&.open {
		background: white;
		border-bottom: solid thin $gris-l;
		.navbar {
			.top {
				ul {
					li {
						a {
							color: $gris-d;
						}
						&:last-child {
							border: solid thin $gris-d;
							padding: .125em .25em;
							@media (max-width: 768px) {
								border-left: none;
								border-top: none;
								border-bottom: none;
								border-right: solid thin white;
							}
							a {
								&:after {
									display: none;
								}
							}						
						}
					}
				}
			}
		}
	}
}

.main-head {		
	position: relative;
	z-index: 1;
	&__image {
		position: relative;
		img {
			width: 100%;
			height: auto;			
		}
		&:after {
			content: "";
			background: rgb(0,0,0);
			background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 21%, rgba(0,0,0,0.5) 37%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}
	}
	&__title {
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		z-index: 2;
		h1 {
			color: white;
			font-family: $play;
			font-size: 3em;
			font-weight: 400;
			text-transform: uppercase;
			span {
				font-weight: 700;
				font-size: 1.5em;
				display: block;
			}
		}
	}
	&__form {
		position: absolute;
		background: white;
		bottom: 25%;
		left: 0;
		right: 0;
		padding: 1em 1em 1.25em;
		margin: auto;
		width: 90%;
		max-width: 1116px;
		z-index: 2;
		@include tablet-port {
			width: 98%;
			bottom: 10%;
		}
		form {
			ul {
				display: flex;				
				align-items: center;
				justify-content: space-between;
				li {
					list-style: none;
					button {
						display: flex;
						text-transform: uppercase;
						align-items: center;
						font-size: .75em;												
						&:active, &:focus {
							outline: none;
							box-shadow: none;
						}
						i {
							font-size: 1.5em;
							margin: 0 .5em 0 0;
							color: $gris-l;
						}
						&.btn-green {
							background: $green-d;
							border: none;
							color: white;
							font-size: 1em;
							padding: .5em 2em;
							transition: all .5s;
							&:hover {
								background: $gris-l;
								color: $green-d;
							}
						}
						&[type=submit] {
							background: $green-d;
							border: none;
							color: white;
							font-size: 1em;
							padding: .5em 2em;
							transition: all .5s;
							&:hover {
								background: $gris-l;
								color: $green-d;
							}
						}
					}
					.noUi-target  {
						min-width: 200px;
						padding: 0 1em 0 0;
						height: 5px;
						box-shadow: none;
						border: none;
						background: $gris-l;
						top: .5em;
						@include tablet-port {
							min-width: 160px;
						}
						@include tablet-land {
							min-width: 160px;
						}
						&:before {
							content: "PRECIO";
							font-weight: 700;
							display: block;
							position: absolute;
							font-size: .75em;
							top: -25px;
						}
						.noUi-connect {
							background: $yellow-d;
						}
						.noUi-handle-lower {	
							background: $yellow-d;
							box-shadow: none;
							border: none;	
							border-radius: 0;	
							width: 20px;
							height: 20px;
							&:focus, &:active {
								outline: none;
							}
							&:after {
								display: none;
							} 
							&:before {
								content: "";
								transform: rotate(90deg);
								height: 10px;
								left: 9px;
								width: 2px;
								top: 5px;
							}									
						}
						.noUi-handle-upper {
							background: $yellow-d;
							box-shadow: none;
							border: none;
							border-radius: 0;
							width: 20px;
							height: 20px;
							&:focus, &:active {
								outline: none;
							}
							&:after {
								content: "";
								height: 10px;
								left: 9px;
								width: 2px;
								top: 5px;
							}
							&:before {
								content: "";
								transform: rotate(90deg);
								height: 10px;
								left: 9px;
								width: 2px;
								top: 5px;
							}
						}
						.noUi-tooltip {
							bottom: -25px;
							color: $gris-d;
							font-size: .75em;
							border: none;
							background: none;
						}
					}
					.example-val {
						visibility: hidden;
					}
					.dropdown {
						button {
							&.dropdown-toggle {
								&:after {
									display: none;
								}
							}							
						}
						&.show {
							position: relative;
							&:after {
								content: "";
								height: 18px;
								width: 18px;
								border-top: solid 7px white;
								border-left: solid 10px transparent;
								border-right: solid 10px transparent;
								position: absolute;
								left: 0;
								right: 0;
								bottom: -42px;
								margin: auto;
							}
							&:before {
								content: "";
								height: 18px;
								width: 18px;
								border-bottom: solid 7px white;
								border-left: solid 10px transparent;
								border-right: solid 10px transparent;
								position: absolute;
								left: 0;
								right: 0;
								bottom: -42px;
								margin: auto;
							}
						}
					}
					.dropdown-menu {
						margin: 1.25em 0 0 -18px;
						min-width: 250px;
						border-radius: 0;
						border: none;
						padding: .5em .5em 0;
						position: relative;	
						&.show {
							transform: translate3d(0px, 54px, 0px) !important;
						}	
						input {
							&[type="checkbox"] {
								display: none;
								&:checked + label {
									background: #edebe5;
									&:after {
										content: "";
										width: 7px;
										height: 7px;
										border-radius: 100%;
										border: none;
										background: $gris-d;
										display: block;
										position: absolute;
										left: 8px;
										top: 11px;
									}
								}
							}
						}
						label {
							display: block;							
							padding: .5em .5em .5em 2em;
							position: relative;
							text-transform: uppercase;
							font-size: .75em;
							&:before {
								content: "";
								width: 13px;
								height: 13px;
								border-radius: 100%;
								border: solid thin $gris-d;
								display: block;
								position: absolute;
								left: 5px;
								top: 8px;
							}
						}
					}
				}
			}
		}
	}
	&--page {
		@media (max-width: 768px) {
			padding: 15em 0 0;
		}
		.main-head__title {
			top: 50%;
			h1 {
				font-size: 2.25em;
				line-height: .95em;
				@media (max-width: 768px) {
					font-size: 1.75em;
					color: $gris-d;
				}				
			}			
		}
	}
	&--int {		
		padding: 0 0 2em;
		.main-head__title {
			top: 50%;
			h1 {
				font-size: 1.875em;
				line-height: .95em;
				span {
					font-size: 1.25em;
				}
			}			
		}
	}
	&--project {		
		padding: 0 0 10em;
		@media (max-width: 925px) {
			padding: 0 0 6em;
		}
		.main-head__title {
			top: 35%;
			h1 {
				font-size: 1.875em;
				line-height: .95em;
				span {
					font-size: 1.25em;
				}
			}			
		}
		.main-head__form {
			background: $gris-el;
			bottom: 10em;			
			z-index: 2;
		}		
		.form-result {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: baseline;			
			background: white;
			position: absolute;
			background: white;
			bottom: 6.25em;			
			left: 0;
			right: 0;
			padding: 1em 1em 0;
			margin: auto;
			width: 90%;
			padding: 1em;
			max-width: 1116px;
			border-left: solid thin $gris-l;
			border-right: solid thin $gris-l;
			border-bottom: solid thin $gris-l;
			@media (max-width: 768px){
				position: relative;
				top: 4.75em;
				bottom: 0;
				border: solid thin $gris-l;
				width: 100%;
				padding: 0;
			}
			&__title {
				background: $gris-l;
				width: 100%;
				text-align: center;
				padding: 1em;				
				h4 {
					text-transform: uppercase;
					font-size: 1em;
				}
			}
			ul {
				width: 70%;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;
				@media (max-width: 768px) {
					width: 100%;
				}
				li {
					list-style: none;
					margin: 0 2em 0 0;					
					@media (max-width: 768px) {
						&:nth-child(1) {
							width: 100%;
							padding: .5em 0 0;
						}
						margin: 0 .5em .5em .5em;
					}
					.label-result {
						background: $gris-el;
						color: $green-d;
						text-transform: uppercase;
						font-size: .8em;
						font-weight: 700;
						min-width: 120px;						
						padding: .125em 2em 0 .75em;
						position: relative;						
						p {
							margin: 0;
						}
						.icon-close {
							position: absolute;
							right: 0;							
							top: .5em;
							margin: auto;
							height: 10px;
							width: 15px;
							cursor: pointer;							
							&:after {
								content: "";
								display: block;
								position: absolute;
								right: .75em;
								width: 2px;
								height: 10px;
								background: $green-d;
								transform: rotate(40deg);
							}
							&:before {
								content: "";
								display: block;
								position: absolute;
								right: .75em;
								width: 2px;
								height: 10px;
								background: $green-d;
								transform: rotate(-40deg);
							}
						}
					}
					.noUi-target {
						top: -2px;
					}
				}
			}
			.dropdown {				
				select {
					background: none;
					border-top: none;
					border-left: none;
					border-right: none;
					border-bottom: solid thin $gris-d;
					padding: 0 1em;
					text-transform: uppercase;
					color: $gris-d;	
					border-radius: 0;
					min-width: 250px;
					text-align: left;
					position: relative;
					@include no-appearance;
					&:focus, &:active {
						outline: none;
						box-shadow: none;
					}					
				}	
				&:after {
					content: "";
					display: block;
					width: 12px;
					height: 8px;
					border-top: solid 7px $gris-d;
					border-left: solid 6px transparent;
					border-right: solid 6px transparent;
					position: absolute;
					right: 1em;
					top: .5em;
				}			
				.dropdown-menu {
					border-radius: 0;
					padding: .5em .5em 0;
					min-width: 250px;
					a {
						font-size: .85em;
						color: $gris-d;
						margin: 0 0 .25em;
						display: block;
					}
				}
			}
		}
	}
}

.main-head-xs {
	position: relative;
	&__title {		
		position: absolute;
		top: 7em;
		padding: 1em;
		text-align: center;
		z-index: 1;
		h1 {
			color: white;
			font-family: $play;
			text-transform: uppercase;
			font-size: 2.5em;
			@media (max-width: 325px) {
					font-size: 2em;
			}
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__slide {
		.slide-item {
			position: relative;		
			z-index: 2;	
			img {
				width: 100%;
				height: auto;
			}			
			.dropdown {
				position: absolute;
				width: 100%;	
				left: 0;
				right: 0;			
				text-align: center;
				bottom: 45%;	
				z-index: 2;	
				@media (max-width: 325px) {
					bottom: 35%;
				}		
				h3 {
					font-size: .925em;
					text-transform: uppercase;
					color: white;
					margin: 0 0 .5em 0;
				}
				button {
					color: white;
					border: solid thin white;
					width: 280px;
					margin: 0 auto;
					display: inline-block;
					text-align: left;
					border-radius: 0;
					&.dropdown-toggle {
						&:after {
							display: none;
						}
					}							
				}
				
			}
			.dropdown-menu {
				margin: 0;
				min-width: 250px;
				border-radius: 0;
				border: none;
				padding: .5em .5em 0;
				position: relative;		
				z-index: 2;			
				top: 1.75em !important;	
				input {
					&[type="checkbox"] {
						display: none;
						&:checked + label {
							background: #edebe5;
							&:after {
								content: "";
								width: 7px;
								height: 7px;
								border-radius: 100%;
								border: none;
								background: $gris-d;
								display: block;
								position: absolute;
								left: 8px;
								top: 11px;
							}
						}
					}
				}
				label {
					display: block;							
					padding: .5em .5em .5em 2em;
					position: relative;
					text-transform: uppercase;
					font-size: .75em;
					&:before {
						content: "";
						width: 13px;
						height: 13px;
						border-radius: 100%;
						border: solid thin $gris-d;
						display: block;
						position: absolute;
						left: 5px;
						top: 8px;
					}
				}
				.noUi-target  {
					width: 260px;
					margin: 0 auto;
					padding: 0 1em 0 0;
					height: 5px;
					box-shadow: none;
					border: none;
					background: $gris-l;
					top: 25px;
					&:before {
						content: "PRECIO";
						font-weight: 700;
						display: block;
						position: absolute;
						font-size: .75em;
						top: -25px;
					}
					.noUi-connect {
						background: $yellow-d;
					}
					.noUi-handle-lower {	
						background: $yellow-d;
						box-shadow: none;
						border: none;	
						border-radius: 0;	
						width: 20px;
						height: 20px;
						&:focus, &:active {
							outline: none;
						}
						&:after {
							display: none;
						}
						&:before {
							content: "";
							transform: rotate(90deg);
							height: 10px;
							left: 9px;
							width: 2px;
							top: 5px;
						}		
					}
					.noUi-handle-upper {
						background: $yellow-d;
						box-shadow: none;
						border: none;
						border-radius: 0;
						width: 20px;
						height: 20px;
						&:focus, &:active {
							outline: none;
						}
						&:after {
							content: "";
							height: 10px;
							left: 9px;
							width: 2px;
							top: 5px;
						}
						&:before {
							content: "";
							transform: rotate(90deg);
							height: 10px;
							left: 9px;
							width: 2px;
							top: 5px;
						}
					}
					.noUi-tooltip {
						bottom: -25px;
						color: $gris-d;
						font-size: .75em;
						border: none;
						background: none;
					}
				}
				button {
					display: flex;
					align-content: center;
					justify-content: center;
					text-transform: uppercase;
					align-items: center;
					font-size: .75em;
					margin: 4em 0 1em;
					position: relative;
					&:active, &:focus {
						outline: none;
						box-shadow: none;
					}
					&:before, &:after {
						content: "";
					}
					i {
						font-size: 1.5em;
						margin: 0 .5em 0 0;
						color: $gris-l;
					}
					&[type=submit] {
						background: $green-d;
						border: none;
						color: white;
						font-size: 1em;
						padding: .5em 2em;
						transition: all .5s;
						text-align: center;
						&:hover {
							background: $gris-l;
							color: $green-d;
						}
					}
				}
				.example-val {
					visibility: hidden;
				}
			}
		}
	}
	
	.slick-dots {
		bottom: 41%;				
		text-align: left;		
		padding: 0 0 0 15%;	
		z-index: 1;
		position: absolute;	
		@media (max-width: 325px) {
			bottom: 30%;
		}
		li {
			width: 60px;
			height: 10px;			
			button {
				&:before {
					width: 60px;
					height: 5px;
					font-size: 0;
					background: white;
					opacity: 1;
				}
			}
			&.slick-active {
				button {
					&:before {
						background: $yellow-d;
						opacity: 1;
					}
				}	
			}
		}
	}
}

.mobile-filter {
	background: $green-d;
	position: relative;
	top: 4.75em;
	button {
		color: white;
		width: 100%;
		text-transform: uppercase;
		padding: .875em;
		&:focus, &:active {
			color: white;
		}
	}
	.dropdown-menu {		
		width: 100%;			
		border: none;
		border-radius: 0;
		margin: 0;
		background: $green-d;	
		.spot {			
			select {
				border: solid thin white;
				background: none;
				width: 85%;
				margin: 0 auto;
				padding: .5em;
				display: block;
				color: white;
				text-transform: uppercase;
				border-radius: 0;
				option {
					color: white;
				}
			}
		}
		ul {
			padding: 0 2em;
			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: .75em;
				color: white;
				border-bottom: solid thin white;
				&:nth-child(7) {
					height: 70px;
				}
				&:last-child {
					border-bottom: none;
				}
				.label-date {
					display: flex;
					align-items: center;
					i {
						font-size: 1.5em;
						margin: 0 .5em 0 0;
					}
					span {
						font-size: .75em;
						max-width: 80px;
					}
				}
				select {
					background: #006c63;
					border: none;
					height: 20px;
					color: white;		
					min-width: 80px;	
					text-align: center;	
					border-radius: 0;						
				}
				button {
					display: block;
					background: white;
					border: none;
					color: $green-d;
					width: 100%;
					padding: .5em 0;
				}
				.noUi-target  {
					width: 260px;
					margin: 0 auto;
					padding: 0 1em 0 0;
					height: 5px;
					box-shadow: none;
					border: none;
					background: $gris-l;
					top: 0;
					&:before {
						content: "PRECIO";
						font-weight: 700;
						display: block;
						position: absolute;
						font-size: .75em;
						top: -25px;
					}
					.noUi-connect {
						background: $yellow-d;
					}
					.noUi-handle-lower {	
						background: $yellow-d;
						box-shadow: none;
						border: none;	
						border-radius: 0;	
						width: 20px;
						height: 20px;
						&:focus, &:active {
							outline: none;
						}
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}		
					}
					.noUi-handle-upper {
						background: $yellow-d;
						box-shadow: none;
						border: none;
						border-radius: 0;
						width: 20px;
						height: 20px;
						&:focus, &:active {
							outline: none;
						}
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
					.noUi-tooltip {
						bottom: -25px;
						color: white;
						font-size: .75em;
						border: none;
						background: none;
					}
				}
			}
		}	
	}
}

.project {
	background: $gris-el;	
	padding: 0 0 2em;	
	&.project--int {
		background: white;
		.row {
			&.d-flex {
				justify-content: flex-start !important;
			}
		}
	}
	&__box {
		border: solid thin $gris-l;
		padding: .5em;
		margin: 0 .5% 2em;
		width: 32%;
		@media (max-width: 768px) {
			width: 49%;
		}
		@media (max-width: 425px) {
			width: 90%;
			margin: 0 auto 1em;
		}
		figure {
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
			.label-type {
				background: white;
				font-size: .75em;
				font-weight: 700;
				color: $green-d;
				border-radius: 2px;
				position: absolute;
				padding: .5em .75em;
				top: .75em;
				right: .75em;
				text-transform: uppercase;
			}
			figcaption {
				min-height: 70px;
				h4 {
					color: $green-d;
					text-transform: uppercase;
					font-weight: 700;
					font-size: .75em;
					margin: 2em 0 0;
				}
				h5 {
					color: #008a7f;
					text-transform: uppercase;
					font-weight: 700;
					font-size: .85em;
					margin: 0;
				}
				h2 {
					font-size: 1.125em;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
		.box-features {
			display: flex;
			justify-content: space-between;
			li {
				list-style: none;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 33%;
				height: 30px;
				border-right: solid thin $gris-l;
				margin: 0 0 .75em;				
				span {
					margin: 0 .5em;
				}
				&:last-child {
					border-right: none;
				}
			}
		}
		.box-desc {
			display: flex;
			align-items: center;
			background: $gris-d;
			color: white;
			padding: .25em 0.5em;
			margin: 0 0 .75em;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;			
			h5 {
				font-size: .6em;
				margin: .4em auto 0;
				font-weight: bold;
			}

			p {
				font-size: .8em;
				margin: 0 auto .4em;
			}

			.line-w {
				border-right: 1px solid white;
				border-left: 1px solid white;
			}
		}
		.box-bt {
			display: flex;
			justify-content: space-between;
			li {
				list-style: none;
				text-align: center;
				width: 49.875%;
				a {
					background: $green-d;					
					display: block;
					color: white;
					padding: .375em 0;
					text-transform: uppercase;
					font-weight: 700;
					transition: all .25s;
					&:hover {
						background: $gris-l;
						color: $gris-d;						
					}
				}
				&:nth-child(1) {
					a {
						background: $green-l;
						&:hover {
							background: $gris-l;
							color: $gris-d;							
						}					
					}
				}				
			}
		}
	}
}

.investment {
	padding: 0 0 2em;
	.profitability {
		background: $gris-el;
		figure {
			display: flex;
			position: relative;
			img {
				min-width: 287px;
				height: auto;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 10px;
				height: 2px;
				background: $gris-d;
				left: .75em;
				bottom: 18.5%;						
				transform: rotate(-45deg);
				z-index: 2;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 10px;
				height: 2px;
				background: $gris-d;
				left: .75em;
				bottom: 20.5%;						
				transform: rotate(45deg);
				z-index: 2;
			}
			.btn-go {
				background: $gris-l;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 130px;
				&:after {
					content: "";
					display: block;
					position: absolute;
				}
			}
			figcaption {
				padding: 1.25em 1em;
				h2 {
					font-size: 1.25em;
					margin: 0 0 .75em;
					text-transform: uppercase;
				}
			}
		}
	}
	.banner {
		margin: 0 0 1.875em;
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 2px;
			background: $gris-d;
			left: .75em;
			top: 55%;						
			transform: rotate(-45deg);
			z-index: 2;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 2px;
			background: $gris-d;
			left: .75em;
			top: 50.5%;						
			transform: rotate(45deg);
			z-index: 2;
		}
		a {
			&:before {
				content: "";
				background: $gris-l;
				display: inline-block;
				position: absolute;
				height: 131px;
				width: 31px;			
			}
		}		
	}
}

//PAGE PROJECT
.head-project {
	position: relative;
	@media (max-width: 925px) {
		display: flex;
		flex-direction: column-reverse;
	}
	.slide-images {
		&__item {
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
			&:after {
				content: "";
				background: rgb(0,0,0);
				background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 21%, rgba(0,0,0,0.5) 37%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				@media (max-width: 925px){
					background: none;
				}
			}
		}
	}
	.slick-next, .slick-prev {
		top: 60%;
		z-index: 3;
	}
	.slick-prev {
		left: 30px;
		@media (max-width: 768px) {
			background: $yellow-d;
			left: 0;
			top: 50%;
		}
		&:before {
			content: "";
			width: 15px;
			height: 2px;
			background: white;
			display: block;
			transform: rotate(130deg);
			opacity: 1;
			@media (max-width: 768px) {
				width: 10px;
				height: 1;
				margin: 0 0 0 5px;
			}
		}
		&:after {
			content: "";
			width: 15px;
			height: 2px;
			background: white;
			display: block;
			transform: rotate(-130deg);
			margin: 8px 0 0;
			@media (max-width: 768px) {
				width: 10px;
				height: 1;
				margin: 5px 0 0 5px;
			}
		}
	}
	.slick-next {
		right: 40px;
		@media (max-width: 768px) {
			background: $yellow-d;
			right: unset;
			left: 0;
			top: 60%;
		}
		&:before {
			content: "";
			width: 15px;
			height: 2px;
			background: white;
			display: block;
			transform: rotate(50deg);
			opacity: 1;
			@media (max-width: 768px) {
				width: 10px;
				height: 1;
				margin: 0 0 0 5px;
			}
		}
		&:after {
			content: "";
			width: 15px;
			height: 2px;
			background: white;
			display: block;
			transform: rotate(-50deg);
			margin: 8px 0 0;
			@media (max-width: 768px) {
				width: 10px;
				height: 1;
				margin: 5px 0 0 5px;
			}
		}
	}
	.slick-dots {
		li {
			button {
				&:before {
					font-size: 60px;
				}
			}
		}
	}	
	&__desc {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 150px;
		width: 90%;
		max-width: 1110px;
		left: 0;
		right: 0;	
		@media (max-width: 925px){
			position: relative;
			height: auto;
			padding: 6em 0 1em;
		}	
		h1 {
			color: white;
			@media (max-width: 925px) {
				color: $gris-d;
				font-size: 1.25em;
			}
		}
		h3 {
			color: $yellow-d;			
			text-transform: uppercase;
			@media (max-width: 925px) {
				color: $green-d;
				font-size: 1.125em;
			}
		}
		p {
			color: white;
			max-width: 70%;
			@media (max-width: 925px) {
				display: none;
				font-size: .875em;
				max-width: 90%;
			}
		}
		.c-bttn {
			display: flex;
			@media (max-width: 925px) {
				position: fixed;					
				bottom: 0;	
				left: 0;
				right: 0;
				z-index: 10;	
				width: 100%;	
			}				
			li {
				list-style: none;
				align-self: auto;
				@media (max-width: 925px) {
					width: 100%;
				}
				&:nth-child(1) {					
					a {
						border: solid thin white;
						background: $green-l;
					}
				}
				&:nth-child(2) {
					a {
						border: solid thin white;
						border-left: none;
						background: $green-d;
					}
				}
				a {
					color: white;
					padding: .5em 5em;
					@media (max-width: 925px) {
						padding: .5em 0;
						display: block;
						text-align: center;
					}
				}
			}
		}
	}
}

.modelos {
	&__boxes {			
		margin: 1em 0 4em;
		@media (max-width: 768px) {
			margin: 1em 0;
		}
		.img-modelo {
			margin: 0 auto 1em;
			width: 100%;
			// border-bottom: 1px solid #dad7ca;
			// padding-bottom: 1em;

			@media (max-width: 925px) {
				display: none;
			}
		}

		.label-type {
			background: white;
			font-size: .75em;
			font-weight: 700;
			color: $green-d;
			border-radius: 2px;
			position: absolute;
			padding: .5em .75em;
			top: 2em;
			right: 2em;
			text-transform: uppercase;
			@media (max-width: 925px) {
				display: none;
			}
		}

		.line {
			background-color: #dad7ca;
			position: absolute;
			width: 277px;
			height: 1px;
			left: 0;
			right: 0;
			margin: auto;

			@media (max-width: 1200px) {
				width: 100%;;
			}

			@media (max-width: 925px) {
				display: none;
			}
		}
	.title {
			padding: 1em 2em;
			@media (max-width: 768px) {
				border: solid thin #dad7ca;
				position: relative;
				&:after, &:before {
					content: "";
					display: block;
					width: 8px;
					height: 1px;
					background: $gris-d;
					position: absolute;
				}
				&:before {
					right: 1.85em;
					top: 1.65em;
					transform: rotate(45deg);
				}
				&:after {
					right: 1.5em;
					top: 1.65em;
					transform: rotate(-45deg);
				}
			}			
			h2 {
				text-transform: uppercase;				
				font-size: 1em;
				@media (max-width: 768px){
					color: $green-d;					
				}
			}			
		}
		.box-item {			
			border-top: solid thin #dad7ca;
			border-bottom: solid thin #dad7ca;
			border-left: solid thin #dad7ca;
			border-right: solid thin transparent;				
			position: relative;
			padding: 1em 1em 3em;					
			&:last-child {
				border-right: solid thin #dad7ca;
			}
			@media (max-width: 991px) {
				padding: .5em 1em;
				border-right: solid thin #dad7ca;
			}

			@media (max-width: 925px) {
				padding: .5em 1em;
			}
			@media (max-width: 768px) {
				display: none;
				border: solid thin #dad7ca;
				border-top: none;
				&:last-child {
					border-bottom: solid thin #dad7ca;
				}
				&.active {
					display: block;
				}
			}
			a { 
				text-transform: uppercase;
				color: $green-d;
				font-size: .85em;
				display: inline-block;
				margin: 1em 0.5em;
				@media (max-width: 925px) {
					display: block;
				}
			}
			ul {
				@media (max-width: 925px) {
					display: none;
				}
				li {
					list-style: none;
					padding: .5em;
					display: flex;
					align-items: center;
					i {
						font-size: 1.5em;
						margin: 0 .5em 0 0;
						color: #dad7ca;
					}
					span {
						font-size: .75em;
					}
					a {
						position: absolute;
						bottom: -.875em;
						left: 0;
						right: 0;
						margin: auto;
						padding: .5em 0;
						max-width: 100px;
						background: $gris-l;
						color: $gris-d;
						text-align: center;
						text-transform: uppercase;
						font-size: .85em;
					}
					.price {
						background-color: $gris-el;
						width: 100%;
						margin: 0 auto;
						text-align: center;
						padding: .25em 1em .375em;
						display: flex;
						align-items: center;
						justify-content: center;
						h3 {
							font-weight: 300;
							font-size: .975em;
							span {
								text-transform: uppercase;
								font-weight: 700;
								font-size: 1.125em;
							}
						}
					}
				}
			}
		}
	}
}

.tabs-project {
	margin: 0 0 2em;
	.nav-tabs {
		display: flex;
		justify-content: center;	
		border: none;
		margin: 0 0 2em;
		a {
			color: $gris-d;
			font-size: .875em;
			font-weight: 700;
			text-transform: uppercase;
			border-radius: 0;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: solid 2px $gris-l;
			&.active {
				border-bottom: solid 2px $green-d;
			}
		}
	}
	.tab-content {
		.tab-pane {
			position: relative;
			.slide-termin, .slide-equip, .slide-spot{
				width: 60%;
				&__item {
					
					img {
						width: 100%;
						height: auto;
						z-index: 1;
					}
					i {
						position: absolute;
						left: 0;
						right: 0;
						top: 40%;
						margin: auto;
						text-align: center;
						font-size: 3em;
						color: white;
						z-index: 2;
					}
				}
				@media (max-width: 925px) {
					position: relative;
					width: 100%;
				}
				.slick-next, .slick-prev {
					top: 60%;
					z-index: 3;
				}
				.slick-prev {
					left: 30px;
					@media (max-width: 768px) {
						background: $yellow-d;
						left: 0;
						top: 50%;
					}
					&:before {
						content: "";
						width: 15px;
						height: 2px;
						background: white;
						display: block;
						transform: rotate(130deg);
						opacity: 1;
						@media (max-width: 768px) {
							width: 10px;
							height: 1;
							margin: 0 0 0 5px;
						}
					}
					&.download {									
						text-transform: uppercase;						
						a {
							font-size: .75em;
							color: $gris-d;
							position: relative;
							background: none;
							max-width: 100%;
							&:before {
								content: "";
								display: inline-block;
								background: url("../images/icon-downlaod.png");
								width: 16px;
								height: 20px;
								margin: 0 .5em -5px 0;
							}
						}
					}
					&:after {
						content: "";
						width: 15px;
						height: 2px;
						background: white;
						display: block;
						transform: rotate(-130deg);
						margin: 8px 0 0;
						@media (max-width: 768px) {
							width: 10px;
							height: 1;
							margin: 5px 0 0 5px;
						}
					}
				}
				.slick-next {
					right: 40px;
					@media (max-width: 768px) {
						background: $yellow-d;
						right: unset;
						left: 0;
						top: 65%;
					}
					&:before {
						content: "";
						width: 15px;
						height: 2px;
						background: white;
						display: block;
						transform: rotate(50deg);
						opacity: 1;
						@media (max-width: 768px) {
							width: 10px;
							height: 1;
							margin: 0 0 0 5px;
						}
					}
					&:after {
						content: "";
						width: 15px;
						height: 2px;
						background: white;
						display: block;
						transform: rotate(-50deg);
						margin: 8px 0 0;
						@media (max-width: 768px) {
							width: 10px;
							height: 1;
							margin: 5px 0 0 5px;
						}
					}
				}
			}
			.slide-termin--nav, .slide-equip--nav, .slide-spot--nav {
				position: absolute;
				width: 40%;
				left: 10%;
				bottom: 3em;
				&__item {							
					padding: .25em .125em;
					img {
						width: 100%;
						height: auto;
						border: solid thin white;
					}
				}
			}
			&__link {
				position: absolute;
				right: 7em;
				top: 2em;				
				text-transform: uppercase;
				@media (max-width: 925px) {
					position: relative;
				}
				a {
					font-size: .85em;
					color: $gris-d;
					&:before {
						content: "";
						display: inline-block;
						background: url("../images/icon-downlaod.png");
						width: 16px;
						height: 20px;
						margin: 0 .5em -5px 0;
					}
				}
			}
			&__box {
				background: $gris-el;
				max-width: 570px;
				padding: 1.5em;
				position: absolute;
				top: 25%;
				right: 2em;
				z-index: 2;
				max-height: 255px;
				overflow-x: hidden;			
				
				&::-webkit-scrollbar {
					width: 12px;
					background-color: $gris-d
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 30px;
					-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
					background-color: $green-d;
				}

				@media (min-width: 1024px) {
					width: 570px;
				}
				@media (min-width: 1440px) {
					right: 5em;
				}
				@media (min-width: 1600px) {
					right: 20%;
				}
				h2 {
					font-size: 1.125em;
					font-weight: 700;
					margin: 0 0 1em;
					text-transform: uppercase;
				}				
				@media (max-width: 925px) {
					position: relative;
					width: 100%;
					right: 0;
				}
			}
		}
	}		
}

.contact-project {
	margin: 0 0 2em;
	&__form {
		border: solid thin $green-d;
		padding: 1em;
		width: 500px;
		float: right;
		@media (max-width: 925px) {
			float: none;
			width: 100%;
			margin: 0 0 1em;
		}
		form {
			h2 {
				color: $green-d;
				text-transform: uppercase;
				font-size: .85em;
				padding: .25em;
			}
			input {
				display: block;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: solid thin $gris-l;
				width: 100%;
				padding: .325em;
				margin: 0 0 .5em;
				@include placeholder {
					text-transform: uppercase;
					font-size: .875em;
				}
			}
			select {
				background: url("../images/arrow-select.png") no-repeat;
				background-position: 98% 50%;				
				position: relative;
				display: block;				
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: solid thin $gris-l;
				border-radius: 0;
				font-size: .875em;
				width: 100%;
				padding: .75em .325em .75em;
				margin: 0 0 .5em;
				color: $gris-d;
				text-transform: uppercase;
				font-size: .75em;
				@include no-appearance;
			}
			textarea {
				display: block;
				border: none;				
				width: 100%;
				padding: .25em;
				margin: 1em 0 2em;
				resize: none;
				font-size: .75em;
				background: rgba(0, 0, 0, .0);
				height: 118px;
				transition: all .5s;
				@include placeholder {
					text-transform: uppercase;
					font-size: 1em;
				}
				&:focus {					
					background: rgba(0, 0, 0, .15);
				}
			}
			button {
				background: $green-d;
				border: none;
				border-radius: 0;	
				padding: .5em .25em;
				width: 100px;
				text-align: center;
				color: white;
				display: block;
				margin: .5em auto;			
			}
		}
	}
	&__dates {
		border: solid thin $green-d;
		position: relative;	
		width: 500px;		
		@media (max-width: 925px) {			
			width: 100%;
			display: none;
		}	
		.label {
			background: $gris-l;
			color: $gris-d;
			font-size: .85em;
			font-weight: 700;
			padding: .325em .75em;
			position: absolute;
			text-transform: uppercase;
			top: .75em;
			right: .75em;
		}
		.dates-text {
			padding: 1em;
			h2 {
				color: $green-d;
				text-transform: uppercase;
				font-size: .85em;				
			}
			h3 {
				text-transform: uppercase;
				font-size: 1.125em;
				margin: .5em 0;
			}
			p {
				margin: 0 0 .125em;
			}
		}
		
		iframe {
			width: 100%;
			height: auto;
			min-height: 200px;
			margin: 1.85em 0 -7px;
		}
		
	}
}

.ejecutive-sale {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 2em;
	&__box {
		width: 50%;
		@media (max-width: 768px) {
			width: 100%;
		}
		figure {
			display: flex;
			flex-wrap: wrap;
			@media (max-width: 768px) {
				justify-content: center;
			}
			.img-container {
				border: solid thin $gris-l;
				border-radius: 100%;
				overflow-y: hidden;
				padding: .375em;
				width: 85px;
				height: 85px;
				img {
					width: 100%;
					height: auto;
					border-radius: 100%;
				}
			}
			figcaption {
				display: flex;
				align-items: center;
				padding: .5em;
				@media (max-width: 768px) {
					flex-direction: column;
					width: 200px;
					align-items: baseline;
				}
				.text {
					margin: 0 1em 0 0; 
					h2 {
						text-transform: uppercase;
						font-size: 1.125em;					
					}
					h3 {
						font-size: 1em;					
					}
					@media (max-width: 768px) {
						margin: 0 ; 
					}
				}
				.dates {
					p {
						margin: 0;
						@media (max-width: 768px) {
							margin: 0 1em 0 0; 
						}
					}
				}			
			}
		}
	}
}

.desc-mod {
	margin: 0 0 3em;
	&__ficha {	
		text-transform: uppercase;			 						
		a {
			font-size: .75em;
			color: $gris-d;
			position: relative;
			background: none;
			max-width: 100%;
			top: 3em;
			&:before {
				content: "";
				display: inline-block;
				background: url("../images/icon-downlaod.png");
				width: 16px;
				height: 20px;
				margin: 0 .5em -5px 0;
			}
		}		
	}
	nav {
		ul{
			display: flex;
			justify-content: flex-end;
			@media (max-width: 925px) {
				justify-content: center;
				flex-wrap: wrap;
			}				
			li {
				text-transform: uppercase;
				list-style: none;
				padding: 1em 0;
				a {
					color: $gris-d;
					padding: .5em 2em;
					border-bottom: solid 2px $gris-l;
					&.active {						
						border-bottom: solid 2px $green-d;
					}
				}
			}
		}
	}
	&__detalle {
		border: solid thin $gris-l;			
		margin: 1em 0 3em;
		ul {
			display: flex;		
			justify-content: space-between;				@media (max-width: 925px) {
				flex-wrap: wrap;
			}	
			li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 1em;
				@media (max-width: 925px) {
					padding: .5em;
				}
				h4 {
					font-size: .85em;
					margin: 0 0 0 .5em;
				}
				i {
					color: $gris-l;
					font-size: 1.5em;
				}
				&:first-child {
					h2 {
						color: $green-d;
						text-transform: uppercase;
						font-weight: 700;
						font-size: 1em;
						padding: .5em 1em;
						border-bottom: solid thin $gris-l;
						@media (max-width: 768px) {
							width: 100%;
						}
					}					
					border-right: solid thin $gris-l;
					flex-direction: column;
					padding: 0;
					.price_mod {
						color: $gris-d;
						text-align: center;						
						margin: 0 -2em;
						h3 {
							font-size: 1.125em;
							margin: .25em 0 0;
							text-transform: capitalize;
						}
						p {
							font-size: .975em;
							font-weight: 700;
							margin: 0 0 .25em;
							padding: 0;
							@media (max-width: 768px) {
								margin: 0 1em .25em;
							}
						}
						@media (max-width: 768px) {
							display: flex;
							align-items: baseline;
						}
					}
					@media (max-width: 925px) {
						border-right: none;
						width: 100%;
						text-align: center;
					}
				}
			}
		}		
	}
	.form-unity {
		form {
			display: flex;
			justify-content: space-between;
			@media (max-width: 925px) {
				flex-wrap: wrap;
			}
			.image-detail {
				display: flex;
				justify-content: space-between;
				margin: 0 1em 0 0;
				@media (max-width: 925px) {
					flex-wrap: wrap;
					width: 100%;
					justify-content: center;						
					margin: 0;
				}					
				&__master {
					max-width: 33%;
					@media (max-width: 768px) {
						max-width: 100%;
						width: 100%;
					}
					.img-container {
						img {
							width: 100%;
							height: auto;
						}
					}
					h2 {
						text-transform: uppercase;
						font-size: .975em;
						color: $green-d;
						margin: 0 0 1em;
					}
				}
				&__plantas {
					position: relative;
					margin: 0 0 0 3em;
					@media (max-width: 925px) {
						margin: 1em 0; 
					}
					@media (min-width: 1024px) {
						min-width: 450px;
					}
					h2 {
						position: absolute;
						text-transform: uppercase;
						font-size: .975em;
						color: $green-d;
						font-weight: 700;
						@media (max-width: 768px){
							position: relative;
							margin: 1em 0;
						}
					}
					nav {
						.nav-tabs {							
							display: flex;
							justify-content: flex-end;
							border: none;
							@media (max-width: 768px){
								justify-content: space-between;
							}
							a {
								border: none;
								text-transform: uppercase;
								color: $gris-d;
								padding: 0 1em 0;
								font-size: .85em;
								font-weight: 700;
								line-height: 16px;
								position: relative;
								@media (max-width: 768px){
									font-size: .75em;
								}
								&.active {
									&:after {
										content: "";
										display: block;
										position: absolute;
										height: 5px;
										background: $green-d;
										left: 0;
										right: 0;
										bottom: -15px;
									}
								}
							}
						}
					}
					.tab-content {
						border: solid thin $gris-l;
						padding: 1em 2em;
						margin: 1em 0 0;				
						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}	
		.select-date {
			border: solid thin $gris-l;
			padding: .75em;
			min-width: 310px;
			@media (max-width: 925px) {
				width: 100%;
			}
			select {
				@include no-appearance;
				background: none;
				background-image: url("../images/arrow-select.png");
				background-repeat: no-repeat;
				background-position: 95% 50%;
				border-radius: 0;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: solid thin black;
				width: 100%;
				margin: 0 0 .5em;
			}
			&__price {
				display: flex;
				padding: .5em;
				background: $gris-l;
				justify-content: space-between;
				align-items: center;
				align-content: center;
				p {
					font-size: .75em;
					text-transform: uppercase;
					margin: 0;
				}
				h2 {
					font-size: 1.125em;
					font-weight: 700;
				}
			}
			&__sup {
				padding: .25em 0;
				border-bottom: solid thin $gris-l;
				p {
					margin: 0;
				}
				h3 {
					font-size: .85em;
					font-weight: 700;
				}
			}
			&__areas {
				padding: .25em 0;				
				p {
					margin: 0;
				}
				h3 {
					font-size: .85em;
					font-weight: 700;
				}
			}
		}
	}
	
}
.inversion {
	margin: -10em 0 0;
	position: relative;
	.container {
		position: relative;
	}
	&__gray-box {
		background: $gris-l;
		font-family: $play;
		padding: 3em 12em 12em 2.75em;
		@media (max-width: 925px) {
			padding: 2em;
		}
		h3 {
			font-weight: 1.5em;
			margin: 0 1em 0 0;
			text-transform: uppercase;
			span {
				font-weight: 700;
			}
		}		
	}
	&__white-box {
		background: white;
		position: absolute;	
		top: 10em;	
		right: 2em;
		padding: 1em;
		max-width: 800px;
		@media (max-width: 925px) {
			max-width: 100%;
			position: relative;
			top: 1em;
			right: 0;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				display: flex;	
				align-items: flex-start;			
				width: 50%;
				margin: 1em 0;
				@media (max-width: 925px) {
					width: 100%;
				}
				.icon {
					background: $gris-l;
					color: $green-d;
					border-radius: 50% 50%;					
					padding: 1em;
					i {
						font-size: 1.5em;
					}
				}
				.text {
					margin: 0 0 0 1em;
					h3 {
						color: $green-d;
						text-transform: uppercase;
						font-size: 1.125em;
						font-weight: 700;
					}
					p {
						font-size: 1em;
					}
				}
			}
		}
	}
	.beneficios {
		ul {
			display: flex;
			align-items: center;
			border: solid thin $gris-l;
			padding: 0;
			margin: 4em 0 2em;
			@media (max-width: 925px) {
				flex-wrap: wrap;
			}
			li {
				list-style: none;				
				&:nth-child(1) {
					padding: 1.5em 2em;
					border-right: solid thin $gris-l;
					@media (max-width: 925px) {
						text-align: center;
						padding: 0;
					}
				}			
				@media (max-width: 925px) {
					width: 100%;
				}
				h3 {
					font-weight: 700;
					font-size: 2em;
					text-transform: uppercase;
					line-height: .85em;
					span {
						display: block;
						font-weight: 400;
						font-size: .65em; 						
					}
				}
				ul {
					border: none;
					display: flex;
					flex-wrap: wrap;
					margin: 0;					
					li {
						width: 50%;						
						list-style: none;
						border: none;
						padding: .5em .5em .5em 3em;
						background: url("../images/check.png") no-repeat;
						background-position: 5% 50%;
						&:nth-child(1){
							border: none;
							padding: .5em .5em .5em 3em;
						}
						p {
							margin: 0;		
						}
						@media (max-width: 925px) {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.formas-pago {	
	padding: 0 0 7em;
	@media (max-width: 925px) {
		padding: 5em 0;
	}
	&__box {
		text-align: center;
		border: solid thin $gris-l;	
		margin: 2em 0 0;
		padding: .5em;	
		@media (max-width: 925px) {
			margin: 2em 1em 1em;
		}
		.box-icon {
			font-size: 3em;
			background: $gris-el;
			color: $green-d;
			border-radius: 50% 50%;
			width: 80px;
			height: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: -50px auto 0;						
		}
		h3 {
			font-size: 1.125em;
			text-transform: uppercase;
			color: $green-d;
			height: 50px;
			margin: .5em 0 0;
		}
		p {
			width: 60%;
			margin: 0 auto;
		}
	}
}

.proceso-compra {
	background: $gris-el;	
	padding: 0 0 4em;
	margin: -2em 0 0;
	@media (max-width: 768px){
		margin: 1em 0 0;
	}
	.nav-tabs {							
		display: flex;
		justify-content: center;
		border: none;
		margin: 0 0 3em;
		.nav-item {
			margin: 0 0 1.5em;
			a {
				border: none;
				text-transform: uppercase;
				background: none;
				color: $gris-d;
				padding: 0 1em 0;
				font-size: .85em;
				font-weight: 700;
				line-height: 16px;
				position: relative;
				&:after {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					background: white;
					left: 0;
					right: 0;
					bottom: -10px;
				}
				&.active {
					color: $green-d;
					&:after {
						content: "";
						display: block;
						position: absolute;
						height: 2px;
						background: $green-d;
						left: 0;
						right: 0;
						bottom: -10px;
					}
				}
			}
		}		
	}
	.tab-content {
		max-width: 100%;
		margin: 0 auto;
		.col-lg-5 {
			img {
				width: 100%;
				height: auto;
			}
		}
		.col-lg-7 {
			padding: 0 3em;
			@media (max-width: 768px) {
				padding: 0 1em;
			}
			h3 {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 1.5em;
				margin: 1em 0;
				color: $green-d;
				@media (max-width: 768px) {
					margin: 2em 0 1em;
				}
			}
			a {
				background: $green-d;
				text-transform: uppercase;
				display: inline-block;
				padding: .425em 2.5em;
				font-size: .95em;				
				color: white;
			}
		}
	}
}

.post-venta {
	padding: 4em 0;
	.nav-tabs {							
		display: flex;
		justify-content: center;
		border: none;
		margin: 0 0 3em;
		.nav-item {
			a {
				border: none;
				text-transform: uppercase;
				background: none;
				color: $gris-d;
				padding: 0 1em 0;
				font-size: .85em;
				font-weight: 700;
				line-height: 16px;
				position: relative;
				&:after {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					background: $gris-l;
					left: 0;
					right: 0;
					bottom: -10px;
				}
				&.active {
					color: $green-d;
					&:after {
						content: "";
						display: block;
						position: absolute;
						height: 2px;
						background: $green-d;
						left: 0;
						right: 0;
						bottom: -10px;
					}
				}
			}
		}		
	}
	.tab-content {
		.step {			
			&:nth-child(2) {
				background: $gris-el;
				padding: 2em 1em;
				display: flex;
				flex-wrap: wrap;
			}
			&__title {
				width: 100%;
				margin: .5em 0 2em;
				h2 {
					color: $green-d;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 1.5em;
				}				
			}
			.check-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;				
				li {
					width: 33%;
					list-style: none;
					margin:1em 0;
					@media (max-width: 768px) {
						width: 50%;
					}
					input {
						&[type=checkbox] {
							display: none;
						}
						&:checked + label {
							i {
								background: $green-d;
								color: white;
							}
						}
					}
					label {
						display: flex;
						align-items: center;
						i {
							border-radius: 50% 50%;
							padding: .5em;
							background: $gris-l;
							color: $green-d;
							font-size: 2em;
						}
						p {
							padding: 1em;
						}
					}					
				}
			}
			.col-form {			
				width: 50%;
				padding: 0 1em;
				@media (max-width: 768px) {
					width: 100%;
				}
			}
		}
	}
}

.main-madesal {
	padding: 2em 0;			
	@media (max-width: 768px) {
		padding: 0 0 2em;
	}
	.col-lg-7 {
		background: white;
		z-index: 2;
		h2 {
			color: $green-d;
			text-transform: uppercase;
			font-size: 1.5em;
		}
	}
	.img-box{
		position: absolute;
		z-index: 1;			
		@media (max-width: 925px) {
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.row {
		position: relative;		
		&.row--first{
			@media (max-width: 758px) {
				display: flex;
				flex-direction: column-reverse;
			}
			padding: 0 0 10em;
			@media (max-width: 758px) {
				padding: 0 0 1em;
			}
			.col-lg-7 {
				margin: 2em 0 0;
				h2, p {
					padding: 1em;
				}
			}
			.img-box {
				right: 0;
				top: 0;				
			}
		}
		&.row--second {
			@media (max-width: 758px) {
				display: flex;
				flex-direction: column;
			}
			.col-lg-7 {
				margin: 2em 0 0;
				h2, p {
					padding: 1em;
				}
			}
			.img-box {
				left: 0;
				top: 0;
			}
		}
	}
}

.team-madesal {
	margin: 15em 0 0;
	@media (max-width: 925px) {
		margin: 2em 0 0;
	}
	h2 {
		color: $green-d;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 1em;
	}
	.thumb-img {
		border-radius: 50% 50%;
		overflow: hidden;
		width: 90px;
		height: 90px;
		margin: 0 0 1em;
		img {
			width: 100%;
			height: auto;
		}
	}
	h3 {
		font-size: 1em;
		font-weight: 700;
		color: $green-d;
		margin: 0 0 .25em;
	}
	p {
		margin: 0 0 .25em;
	}
	.col-lg-3 {
		margin: 0 0 1em;
	}
	.map {
		iframe {
			width: 100%;
		}
	}
}

.simuladores {
	padding: 2em 0;
	@media (max-width: 768px) {
		padding: 0;
	}	
	.nav-tabs {							
		display: flex;
		justify-content: center;
		border: none;
		margin: 0 0 3em;
		.nav-item {
			@media (max-width: 525px) {
				margin: .5em 0;
				width: 100%;
			}
			a {
				border: none;
				text-transform: uppercase;
				background: none;
				color: $gris-d;
				padding: 0 2em 0;
				font-size: .85em;
				font-weight: 700;
				line-height: 16px;
				position: relative;
				&:after {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					background: $gris-l;
					left: 0;
					right: 0;
					bottom: -10px;
				}
				&.active {
					color: $green-d;
					&:after {
						content: "";
						display: block;
						position: absolute;
						height: 2px;
						background: $green-d;
						left: 0;
						right: 0;
						bottom: -10px;
					}
				}
			}
		}		
	}
	form {
		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 1.5em 0;
			@media (max-width: 768px) {
				justify-content: space-between;
			}
			li {
				list-style: none;
				font-size: .975em;
				font-weight: 700;
				text-transform: uppercase;
				span {
					display: block;
				}
				input {
					&[type=number] {
						@include no-appearance;
						background: #f3f3f3;
						box-shadow: none;
						border: none;
						padding: .25em .5em;
						margin: 0 .25em;
						@media (max-width: 425px) {
							max-width: 70px;
							text-align: center;
						}
					}
					&[type=radio] {
						display: none;
					}
					&:checked + label {
						background: $green-d;
						color: white;
					}
				}						
				label {
					background: $gris-l;
					width: 48px;
					height: 30px;
					text-align: center;
					margin: .125em 0 0;
					padding: .275em 0 0;
				}
				.noUi-target  {
					min-width: 200px;
					padding: 0 1em 0 0;
					height: 5px;
					box-shadow: none;
					border: none;
					background: $gris-l;
					top: 0;						
					.noUi-connect {
						background: $yellow-d;
					}
					.noUi-handle-lower {	
						background: $yellow-d;
						box-shadow: none;
						border: none;	
						border-radius: 0;	
						width: 20px;
						height: 20px;
						&:focus, &:active {
							outline: none;
						}
						&:after {
							height: 10px;
							left: 9px;
							width: 2px;
							top: 5px;
						}
						&:before {
							transform: rotate(90deg);
							height: 10px;
							left: 9px;
							width: 2px;
							top: 5px;
						}			
					}
					.noUi-handle-upper {
						background: $yellow-d;
						box-shadow: none;
						border: none;
						border-radius: 0;
						width: 20px;
						height: 20px;
						&:focus, &:active {
							outline: none;
						}
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
					.noUi-tooltip {
						bottom: -25px;
						color: $gris-d;
						font-size: .75em;
						border: none;
						background: none;
					}
				}
				.example-val {
					visibility: hidden;
				}				
			}
		}
		.noUi-target  {
			min-width: 200px;
			padding: 0 1em 0 0;
			height: 5px;
			box-shadow: none;
			border: none;
			background: $gris-l;
			top: 15px;	
			margin: 1.5em 0;	
			@media (max-width: 425px) {
				min-width: 200px;
			}				
			.noUi-connect {
				background: $yellow-d;
			}
			.noUi-handle-lower {	
				background: $yellow-d;
				box-shadow: none;
				border: none;	
				border-radius: 0;	
				width: 20px;
				height: 20px;
				&:focus, &:active {
					outline: none;
				}
				&:after {
					height: 10px;
					left: 9px;
					width: 2px;
					top: 5px;
				}
				&:before {
					transform: rotate(90deg);
					height: 10px;
					left: 9px;
					width: 2px;
					top: 5px;
				}		
			}
			.noUi-handle-upper {
					background: $yellow-d;
					box-shadow: none;
					border: none;
					border-radius: 0;
					width: 20px;
					height: 20px;
					&:focus, &:active {
						outline: none;
					}
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
				.noUi-tooltip {
					bottom: -25px;
					color: $gris-d;
					font-size: .75em;
					border: none;
					background: none;
				}
			}
			.example-val {
				visibility: hidden;
			}
		button {
			background: $green-d;
			border: none;
			border-radius: 0;	
			padding: .5em .25em;
			width: 100px;
			text-align: center;
			color: white;
			display: block;
			margin: .5em auto;		
			text-transform: uppercase;	
		}
		.result {
			padding: 2em 0 0;
			p {
				font-size: .975em;
				margin: 0;
			}
			.price {
				font-size: 2.25em;
				margin: 0 0 1em;
			}
		}
	}
	#hipotecario {
		ul {
			li {					
				&:nth-child(1) {
					min-width: 150px;
					text-align: left;
					@media (max-width: 768px) {
						min-width: 100%;	
						text-align: center;
						margin: 0 0 .5em;						
					}
				}
			}
		}
	}
	#dividendo {
		h3 {
			text-transform: uppercase;
			font-size: .875em;
			color: $gris-d;
		}
		ul {
			li {
				h4 {
					font-size: .875em;
					font-weight: 700;
				}
				&:nth-child(1) {
					width: 200px;
					text-align: left;
				}
			}
		}
	}
	#endeudamiento {
		h3 {
			text-transform: uppercase;
			font-size: .875em;
			color: $gris-d;
		}
		form {
			label {
				font-weight: 700;
			}
		}
		ul {
			li {
				h4 {
					font-size: .875em;
					font-weight: 700;
				}	
				&:nth-child(1) {
					width: 200px;
					text-align: left;
				}				
			}
		}
	}
}

.contactanos {
	padding: 0 0 4em;
	&--sim {
		background: $gris-el;
	}
	h3 {
		font-size: 1em;
		margin: 4em 0;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 4em 0;
		li {
			width: 23%;
			list-style: none;
			@media (max-width: 768px) {
				width: 100%;
			}
			h3, h2 {
				font-size: 1.125em;
				color: $green-d;
				padding: 0 5em 0 0;
				margin: 0;
			}
			h2 {
				font-weight: 700;
			}
			h4 {
				font-size: 1em;
				margin: 2em 0 0;
				color: $gris-d;
				font-weight: 700;
				@media (max-width: 768px) {
					margin: .5em 0 1em;
				}
			}
			p {
				margin: 0;
			}
			ul {
				display: block;
				margin: 1em 0 0;
				li {
					display: flex;					
					width: 100%;
					margin: .5em 0 .75em;
					a {
						color: $gris-d;
					}
					i {
						color: $green-d;
						font-size: 1.25em;
						margin: 0 .5em 0 0;
					}
					&:last-child { 
						border: none;
						padding: 0;
					}
				}
			}
			&:last-child {
				width: 30%;
				border-left: solid thin $gris-l;
				padding: 0 0 0 1em;
				@media (max-width: 768px) {
					display: none;
				}
			}
		}
	}
}

footer {
	background: $gris-l;
	padding: 2em 0;
	@media (max-width: 768px) {
		padding: 2em 0 4em;
		img {
			margin: 0 auto 2em;
			display: block;
		}
	}
	.address {
		display: flex;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
		li {
			list-style: none;
			max-width: 50%;
			margin: 0 2em 0 0;
			@media (max-width: 768px) {
				text-align: center;
				margin: 0 auto 1em;
			}
			h4 {
				font-weight: 700;
				font-size: .85em;
			}
			p {
				font-size: .85em;
			}

			a {
				color: $gris-d;
			}
		}
	}
	.nav-social {
		display: flex;		
		@media (max-width: 768px) {
			align-items: center;
			justify-content: center;
		}	
		li {
			margin: 0 2em 0 0;
			list-style: none;
			@media (max-width: 768px) {
				margin: 0 1em;
			}
			a {
				font-size: 1.5em;
				color: $gris-d;
			}
		}
	}
}