@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.no-padding {
  padding: 0; }
  @media screen and (max-width: 768px) {
    .no-padding {
      padding: 0; } }

.no-padding-left {
  padding-left: 0; }
  @media screen and (max-width: 768px) {
    .no-padding-left {
      padding-left: 0 15px; } }

.no-padding-right {
  padding-right: 0; }
  @media screen and (max-width: 768px) {
    .no-padding-right {
      padding-right: 0 15px; } }

@media (max-width: 768px) {
  .no-padding-xs {
    padding: 0; }
  .no-padding-left-xs {
    padding-left: 0; }
  .no-padding-right-xs {
    padding-right: 0; } }

h1, h2, h3, h4 {
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

a:focus, input:focus, button:focus, textarea:focus, select:focus {
  outline: none; }

a:hover {
  text-decoration: none; }

a:active, a:focus {
  color: inherit; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "../fonts/slick";
  src: url("../fonts/../fonts/slick.eot");
  src: url("../fonts/../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/slick.woff") format("woff"), url("../fonts/../fonts/slick.ttf") format("truetype"), url("../fonts/../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*! Lity - v2.3.1 - 2018-04-20
* http://sorgalla.com/lity/
* Copyright (c) 2015-2018 Jan Sorgalla; Licensed MIT */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.lity.lity-opened {
  opacity: 1; }

.lity.lity-closed {
  opacity: 0; }

.lity * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important; }

.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.lity-loading .lity-loader {
  opacity: 1; }

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important; }

.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -o-transform 0.3s ease; }

.lity-loading .lity-content,
.lity-closed .lity-content {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0; }

.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.lity-close:active {
  top: 1px; }

/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0; }

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px; }

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch; }

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

.lity-hide {
  display: none; }

.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background: #008a7f;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 999999; }
  .loading .loader:before, .loading .loader:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: calc(50% - 10px);
    background-color: #f4f4f4;
    animation: squaremove 1s ease-in-out infinite; }
  .loading .loader:after {
    animation-delay: 0.5s; }

@keyframes squaremove {
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -ms-transform: translate(0, 0) rotate(0);
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); }
  25% {
    -webkit-transform: translate(40px, 40px) rotate(45deg);
    -ms-transform: translate(40px, 40px) rotate(45deg);
    -o-transform: translate(40px, 40px) rotate(45deg);
    transform: translate(40px, 40px) rotate(45deg); }
  50% {
    -webkit-transform: translate(0px, 80px) rotate(0deg);
    -ms-transform: translate(0px, 80px) rotate(0deg);
    -o-transform: translate(0px, 80px) rotate(0deg);
    transform: translate(0px, 80px) rotate(0deg); }
  75% {
    -webkit-transform: translate(-40px, 40px) rotate(45deg);
    -ms-transform: translate(-40px, 40px) rotate(45deg);
    -o-transform: translate(-40px, 40px) rotate(45deg);
    transform: translate(-40px, 40px) rotate(45deg); } }

html, body {
  width: 100%;
  height: auto;
  font-family: "Karla", sans-serif;
  font-size: 100%;
  color: #656564;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img.lazy {
  opacity: 0;
  transition: .5s; }
  img.lazy.loaded {
    opacity: 1; }

.primary-title {
  margin: 2em 0;
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  text-transform: uppercase; }

.btn-primary {
  border: solid thin #656564;
  background: none;
  display: inline-block;
  color: #656564;
  font-size: 1em;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: all .25s;
  margin: .5em 0; }
  .btn-primary:hover, .btn-primary:focus {
    border: solid thin #656564;
    background: #d4d4d4;
    color: #656564; }
  .btn-primary:focus {
    outline: none; }

.banner-full {
  margin: 2em 0; }
  .banner-full img {
    width: 100%;
    height: auto; }

.banner-50 {
  margin: 1.5em 0; }
  @media (min-width: 965px) {
    .banner-50 .col-lg-6:nth-child(1) {
      padding-left: 0; }
    .banner-50 .col-lg-6:nth-child(2) {
      padding-right: 0; } }
  .banner-50 img {
    width: 100%;
    height: auto; }

.gnrl-form input {
  margin: 0 0 1em; }
  .gnrl-form input[type="text"] {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid thin #d4d4d4;
    display: block;
    width: 100%;
    padding: .25em 0; }
    .gnrl-form input[type="text"]::-webkit-input-placeholder {
      text-transform: uppercase; }
    .gnrl-form input[type="text"]:-moz-placeholder {
      text-transform: uppercase; }
    .gnrl-form input[type="text"]::-moz-placeholder {
      text-transform: uppercase; }
    .gnrl-form input[type="text"]:-ms-input-placeholder {
      text-transform: uppercase; }

.gnrl-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  color: #656564;
  padding: .25em 0;
  margin: 0 0 1em;
  width: 100%;
  background: url("../images/arrow-select.png") no-repeat;
  background-position: 98% 50%;
  border: none;
  border-bottom: solid thin #d4d4d4;
  border-radius: 0;
  text-transform: uppercase; }

.gnrl-form textarea {
  display: block;
  border: none;
  width: 100%;
  padding: .25em;
  margin: 1em 0 2em;
  resize: none;
  font-size: .75em;
  background: rgba(0, 0, 0, 0);
  height: 90px;
  border-bottom: solid thin #d4d4d4;
  transition: all .5s; }
  .gnrl-form textarea::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #656564;
    font-size: 1.25em; }
  .gnrl-form textarea:-moz-placeholder {
    text-transform: uppercase;
    color: #656564;
    font-size: 1.25em; }
  .gnrl-form textarea::-moz-placeholder {
    text-transform: uppercase;
    color: #656564;
    font-size: 1.25em; }
  .gnrl-form textarea:-ms-input-placeholder {
    text-transform: uppercase;
    color: #656564;
    font-size: 1.25em; }
  .gnrl-form textarea:focus {
    background: rgba(0, 0, 0, 0.15); }

.gnrl-form button {
  background: #008a7f;
  border: none;
  border-radius: 0;
  padding: .5em .25em;
  width: 100px;
  text-align: center;
  color: white;
  display: block;
  margin: .5em auto; }

header {
  position: absolute;
  width: 100%;
  border-bottom: solid thin white;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  color: white; }
  @media (max-width: 768px) {
    header.header-int {
      background: white;
      border-bottom: solid thin #d4d4d4; }
      header.header-int .navbar .top ul li a {
        color: #656564; }
      header.header-int .navbar .top ul li:last-child {
        border: solid thin #656564;
        padding: .125em .25em; } }
    @media (max-width: 768px) and (max-width: 768px) {
      header.header-int .navbar .top ul li:last-child {
        border-left: none;
        border-top: none;
        border-bottom: none;
        border-right: solid thin white; } }
  @media (max-width: 768px) {
        header.header-int .navbar .top ul li:last-child a:after {
          display: none; } }
  header .brand-image {
    margin: 2em 0 1em; }
    @media (max-width: 768px) {
      header .brand-image {
        margin: 1em 0 0; } }
  @media (max-width: 768px) {
    header {
      position: fixed;
      border-top: solid 10px white; } }
  header .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; }
    @media (max-width: 768px) {
      header .navbar {
        flex-direction: row;
        padding: 0;
        align-items: center; } }
    header .navbar button {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0 0 0 .5em; }
      header .navbar button span {
        width: 30px;
        height: 2px;
        margin: 0 0 .25em;
        display: block;
        background: #e4b65c; }
        header .navbar button span:nth-child(2) {
          width: 20px; }
    header .navbar ul li a {
      text-transform: uppercase;
      color: white; }
      header .navbar ul li a.nav-link {
        font-size: .85em;
        font-weight: 700;
        padding: 0 2em .25em; }
        @media (max-width: 768px) {
          header .navbar ul li a.nav-link {
            padding: 1.5em 2em;
            border-bottom: solid thin #d4d4d4; } }
    header .navbar .top {
      margin: .75em 0 1.25em; }
      @media (max-width: 768px) {
        header .navbar .top {
          margin: 0; } }
      header .navbar .top ul {
        display: flex;
        align-items: center; }
        header .navbar .top ul li {
          list-style: none; }
          @media (max-width: 768px) {
            header .navbar .top ul li {
              border-right: solid thin white; } }
          header .navbar .top ul li a {
            color: white;
            padding: 0 1em;
            font-size: .75em;
            font-weight: 700;
            position: relative; }
            @media (max-width: 768px) {
              header .navbar .top ul li a {
                display: block;
                padding: 2em 1em; } }
            @media (max-width: 325px) {
              header .navbar .top ul li a {
                padding: 2em .5em; } }
            header .navbar .top ul li a:after {
              content: "";
              display: block;
              position: absolute;
              right: 0;
              top: 0;
              height: 15px;
              width: 1px;
              background: white; }
          header .navbar .top ul li:nth-child(4) a:after {
            display: none; }
          header .navbar .top ul li:last-child {
            border: solid thin white;
            padding: .125em .25em; }
            @media (max-width: 768px) {
              header .navbar .top ul li:last-child {
                border-left: none;
                border-top: none;
                border-bottom: none;
                border-right: solid thin white; } }
            header .navbar .top ul li:last-child a:after {
              display: none; }
          @media (max-width: 768px) {
            header .navbar .top ul li:nth-child(1), header .navbar .top ul li:nth-child(2), header .navbar .top ul li:nth-child(3) {
              display: none; } }
    header .navbar .navbar-collapse {
      width: 100%;
      justify-content: space-between; }
      @media (max-width: 768px) {
        header .navbar .navbar-collapse {
          position: fixed;
          top: 5em;
          left: 0;
          background: white; }
          header .navbar .navbar-collapse .navbar-nav li a {
            color: #656564; }
          header .navbar .navbar-collapse .box-mobile__btns {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: 1em auto; }
            header .navbar .navbar-collapse .box-mobile__btns li {
              list-style: none;
              padding: .5em; }
              header .navbar .navbar-collapse .box-mobile__btns li a {
                min-width: 130px;
                background: #008a7f;
                display: inline-block;
                padding: .5em 1em;
                color: white;
                text-align: center;
                text-transform: uppercase; }
          header .navbar .navbar-collapse .box-mobile__social {
            display: flex;
            margin: 0 0 2em; } }
    @media (max-width: 768px) and (max-width: 768px) {
      header .navbar .navbar-collapse .box-mobile__social {
        align-items: center;
        justify-content: center; } }
      @media (max-width: 768px) {
            header .navbar .navbar-collapse .box-mobile__social li {
              margin: 0 2em 0 0;
              list-style: none; } }
      @media (max-width: 768px) and (max-width: 768px) {
        header .navbar .navbar-collapse .box-mobile__social li {
          margin: 0 1em; } }
      @media (max-width: 768px) {
              header .navbar .navbar-collapse .box-mobile__social li a {
                font-size: 1.125em;
                color: #656564; } }
    header .navbar .navbar-nav {
      width: 100%;
      justify-content: space-between; }
      header .navbar .navbar-nav .nav-link {
        padding-right: 0; }
      @media (max-width: 768px) {
        header .navbar .navbar-nav {
          width: 90%;
          margin: 0 auto; } }
  header.open {
    background: white;
    border-bottom: solid thin #d4d4d4; }
    header.open .navbar .top ul li a {
      color: #656564; }
    header.open .navbar .top ul li:last-child {
      border: solid thin #656564;
      padding: .125em .25em; }
      @media (max-width: 768px) {
        header.open .navbar .top ul li:last-child {
          border-left: none;
          border-top: none;
          border-bottom: none;
          border-right: solid thin white; } }
      header.open .navbar .top ul li:last-child a:after {
        display: none; }

.main-head {
  position: relative;
  z-index: 1; }
  .main-head__image img {
    width: 100%;
    height: auto; }
  .main-head__title {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 2; }
    .main-head__title h1 {
      color: white;
      font-family: "Playfair Display", serif;
      font-size: 3em;
      font-weight: 400;
      text-transform: uppercase; }
      .main-head__title h1 span {
        font-weight: 700;
        font-size: 1.5em;
        display: block; }
  .main-head__form {
    position: absolute;
    background: white;
    bottom: 25%;
    left: 0;
    right: 0;
    padding: 1em 1em 1.25em;
    margin: auto;
    width: 90%;
    max-width: 1116px; }
    .main-head__form form ul {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .main-head__form form ul li {
        list-style: none; }
        .main-head__form form ul li button {
          display: flex;
          text-transform: uppercase;
          align-items: center;
          font-size: .75em; }
          .main-head__form form ul li button:active, .main-head__form form ul li button:focus {
            outline: none;
            box-shadow: none; }
          .main-head__form form ul li button i {
            font-size: 1.5em;
            margin: 0 .5em 0 0;
            color: #d4d4d4; }
          .main-head__form form ul li button[type=submit] {
            background: #008a7f;
            border: none;
            color: white;
            font-size: 1em;
            padding: .5em 2em;
            transition: all .5s; }
            .main-head__form form ul li button[type=submit]:hover {
              background: #d4d4d4;
              color: #008a7f; }
        .main-head__form form ul li .noUi-target {
          min-width: 200px;
          padding: 0 1em 0 0;
          height: 5px;
          box-shadow: none;
          border: none;
          background: #d4d4d4;
          top: 0; }
          .main-head__form form ul li .noUi-target:before {
            content: "PRECIO";
            font-weight: 700;
            display: block;
            position: absolute;
            font-size: .75em;
            top: -25px; }
          .main-head__form form ul li .noUi-target .noUi-connect {
            background: #e4b65c; }
          .main-head__form form ul li .noUi-target .noUi-handle-lower {
            background: #e4b65c;
            box-shadow: none;
            border: none;
            border-radius: 0;
            width: 20px;
            height: 20px; }
            .main-head__form form ul li .noUi-target .noUi-handle-lower:focus, .main-head__form form ul li .noUi-target .noUi-handle-lower:active {
              outline: none; }
            .main-head__form form ul li .noUi-target .noUi-handle-lower:after {
              display: none; }
            .main-head__form form ul li .noUi-target .noUi-handle-lower:before {
              display: none; }
          .main-head__form form ul li .noUi-target .noUi-handle-upper {
            background: #e4b65c;
            box-shadow: none;
            border: none;
            border-radius: 0;
            width: 20px;
            height: 20px; }
            .main-head__form form ul li .noUi-target .noUi-handle-upper:focus, .main-head__form form ul li .noUi-target .noUi-handle-upper:active {
              outline: none; }
            .main-head__form form ul li .noUi-target .noUi-handle-upper:after {
              display: none; }
            .main-head__form form ul li .noUi-target .noUi-handle-upper:before {
              display: none; }
          .main-head__form form ul li .noUi-target .noUi-tooltip {
            bottom: -25px;
            color: #656564;
            font-size: .75em;
            border: none;
            background: none; }
        .main-head__form form ul li .example-val {
          visibility: hidden; }
        .main-head__form form ul li .dropdown button.dropdown-toggle:after {
          display: none; }
        .main-head__form form ul li .dropdown.show {
          position: relative; }
          .main-head__form form ul li .dropdown.show:after {
            content: "";
            height: 18px;
            width: 18px;
            border-top: solid 7px white;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -42px;
            margin: auto; }
          .main-head__form form ul li .dropdown.show:before {
            content: "";
            height: 18px;
            width: 18px;
            border-bottom: solid 7px white;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -42px;
            margin: auto; }
        .main-head__form form ul li .dropdown-menu {
          margin: 2.625em 0 0 -18px;
          min-width: 250px;
          border-radius: 0;
          border: none;
          padding: .5em .5em 0;
          position: relative; }
          .main-head__form form ul li .dropdown-menu input[type="checkbox"] {
            display: none; }
            .main-head__form form ul li .dropdown-menu input[type="checkbox"]:checked + label {
              background: #edebe5; }
              .main-head__form form ul li .dropdown-menu input[type="checkbox"]:checked + label:after {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 100%;
                border: none;
                background: #656564;
                display: block;
                position: absolute;
                left: 8px;
                top: 11px; }
          .main-head__form form ul li .dropdown-menu label {
            display: block;
            padding: .5em .5em .5em 2em;
            position: relative;
            text-transform: uppercase;
            font-size: .75em; }
            .main-head__form form ul li .dropdown-menu label:before {
              content: "";
              width: 13px;
              height: 13px;
              border-radius: 100%;
              border: solid thin #656564;
              display: block;
              position: absolute;
              left: 5px;
              top: 8px; }
  @media (max-width: 768px) {
    .main-head--page {
      padding: 15em 0 0; } }
  .main-head--page .main-head__title {
    top: 50%; }
    .main-head--page .main-head__title h1 {
      font-size: 2.25em;
      line-height: .95em; }
      @media (max-width: 768px) {
        .main-head--page .main-head__title h1 {
          font-size: 1.75em;
          color: #656564; } }
  .main-head--int {
    padding: 0 0 2em; }
    .main-head--int .main-head__title {
      top: 50%; }
      .main-head--int .main-head__title h1 {
        font-size: 1.875em;
        line-height: .95em; }
        .main-head--int .main-head__title h1 span {
          font-size: 1.25em; }
  .main-head--project {
    padding: 0 0 10em; }
    .main-head--project .main-head__title {
      top: 35%; }
      .main-head--project .main-head__title h1 {
        font-size: 1.875em;
        line-height: .95em; }
        .main-head--project .main-head__title h1 span {
          font-size: 1.25em; }
    .main-head--project .main-head__form {
      background: #f4f4f4;
      bottom: 10em;
      z-index: 2; }
    .main-head--project .form-result {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      background: white;
      position: absolute;
      background: white;
      bottom: 6.25em;
      left: 0;
      right: 0;
      padding: 1em 1em 0;
      margin: auto;
      width: 90%;
      padding: 1em;
      max-width: 1116px;
      border-left: solid thin #d4d4d4;
      border-right: solid thin #d4d4d4;
      border-bottom: solid thin #d4d4d4; }
      @media (max-width: 768px) {
        .main-head--project .form-result { 
          position: relative;
          top: 5em;
          bottom: 0;
          border: solid thin #d4d4d4;
          width: 100%;
          padding: 0; } }
      .main-head--project .form-result__title {
        background: #d4d4d4;
        width: 100%;
        text-align: center;
        padding: 1em; }
        .main-head--project .form-result__title h4 {
          text-transform: uppercase;
          font-size: 1em; }
      .main-head--project .form-result ul {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center; }
        @media (max-width: 768px) {
          .main-head--project .form-result ul {
            width: 100%; } }
        .main-head--project .form-result ul li {
          list-style: none;
          margin: 0 2em 0 0; }
          @media (max-width: 768px) {
            .main-head--project .form-result ul li {
              margin: 0 .5em .5em .5em; }
              .main-head--project .form-result ul li:nth-child(1) {
                width: 100%;
                padding: .5em 0 0; } }
          .main-head--project .form-result ul li .label-result {
            background: #f4f4f4;
            color: #008a7f;
            text-transform: uppercase;
            font-size: .8em;
            font-weight: 700;
            min-width: 120px;
            padding: .125em 2em 0 .75em;
            position: relative; }
            .main-head--project .form-result ul li .label-result p {
              margin: 0; }
            .main-head--project .form-result ul li .label-result .icon-close {
              position: absolute;
              right: 0;
              top: .5em;
              margin: auto;
              height: 10px;
              width: 15px;
              cursor: pointer; }
              .main-head--project .form-result ul li .label-result .icon-close:after {
                content: "";
                display: block;
                position: absolute;
                right: .75em;
                width: 2px;
                height: 10px;
                background: #008a7f;
                transform: rotate(40deg); }
              .main-head--project .form-result ul li .label-result .icon-close:before {
                content: "";
                display: block;
                position: absolute;
                right: .75em;
                width: 2px;
                height: 10px;
                background: #008a7f;
                transform: rotate(-40deg); }
          .main-head--project .form-result ul li .noUi-target {
            top: -2px; }
      .main-head--project .form-result .dropdown button {
        border-bottom: solid thin #656564;
        padding: 0;
        text-transform: uppercase;
        color: #656564;
        border-radius: 0;
        min-width: 250px;
        text-align: left;
        position: relative; }
        .main-head--project .form-result .dropdown button:focus, .main-head--project .form-result .dropdown button:active {
          outline: none;
          box-shadow: none; }
        .main-head--project .form-result .dropdown button:after {
          position: absolute;
          right: 1em;
          top: .5em; }
      .main-head--project .form-result .dropdown .dropdown-menu {
        border-radius: 0;
        padding: .5em .5em 0;
        min-width: 250px; }
        .main-head--project .form-result .dropdown .dropdown-menu a {
          font-size: .85em;
          color: #656564;
          margin: 0 0 .25em;
          display: block; }

.main-head-xs {
  position: relative; }
  .main-head-xs__title {
    position: absolute;
    top: 7em;
    padding: 1em;
    text-align: center;
    z-index: 1; }
    .main-head-xs__title h1 {
      color: white;
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      font-size: 2.5em; }
      @media (max-width: 325px) {
        .main-head-xs__title h1 {
          font-size: 2em; } }
    @media (max-width: 768px) {
      .main-head-xs__title {
        display: none; } }
  .main-head-xs__slide .slide-item {
    position: relative;
    z-index: 2; }
    .main-head-xs__slide .slide-item img {
      width: 100%;
      height: auto; }
    .main-head-xs__slide .slide-item .dropdown {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 45%;
      z-index: 2; }
      @media (max-width: 325px) {
        .main-head-xs__slide .slide-item .dropdown {
          bottom: 35%; } }
      .main-head-xs__slide .slide-item .dropdown h3 {
        font-size: .925em;
        text-transform: uppercase;
        color: white;
        margin: 0 0 .5em 0; }
      .main-head-xs__slide .slide-item .dropdown button {
        color: white;
        border: solid thin white;
        width: 280px;
        margin: 0 auto;
        display: inline-block;
        text-align: left;
        border-radius: 0; }
        .main-head-xs__slide .slide-item .dropdown button.dropdown-toggle:after {
          display: none; }
    .main-head-xs__slide .slide-item .dropdown-menu {
      margin: 0;
      min-width: 250px;
      border-radius: 0;
      border: none;
      padding: .5em .5em 0;
      position: relative;
      z-index: 2;
      top: 1.75em !important; }
      .main-head-xs__slide .slide-item .dropdown-menu input[type="checkbox"] {
        display: none; }
        .main-head-xs__slide .slide-item .dropdown-menu input[type="checkbox"]:checked + label {
          background: #edebe5; }
          .main-head-xs__slide .slide-item .dropdown-menu input[type="checkbox"]:checked + label:after {
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 100%;
            border: none;
            background: #656564;
            display: block;
            position: absolute;
            left: 8px;
            top: 11px; }
      .main-head-xs__slide .slide-item .dropdown-menu label {
        display: block;
        padding: .5em .5em .5em 2em;
        position: relative;
        text-transform: uppercase;
        font-size: .75em; }
        .main-head-xs__slide .slide-item .dropdown-menu label:before {
          content: "";
          width: 13px;
          height: 13px;
          border-radius: 100%;
          border: solid thin #656564;
          display: block;
          position: absolute;
          left: 5px;
          top: 8px; }
      .main-head-xs__slide .slide-item .dropdown-menu .noUi-target {
        width: 260px;
        margin: 0 auto;
        padding: 0 1em 0 0;
        height: 5px;
        box-shadow: none;
        border: none;
        background: #d4d4d4;
        top: 25px; }
        .main-head-xs__slide .slide-item .dropdown-menu .noUi-target:before {
          content: "PRECIO";
          font-weight: 700;
          display: block;
          position: absolute;
          font-size: .75em;
          top: -25px; }
        .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-connect {
          background: #e4b65c; }
        .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-lower {
          background: #e4b65c;
          box-shadow: none;
          border: none;
          border-radius: 0;
          width: 20px;
          height: 20px; }
          .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-lower:focus, .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-lower:active {
            outline: none; }
          .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-lower:after {
            display: none; }
          .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-lower:before {
            display: none; }
        .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-upper {
          background: #e4b65c;
          box-shadow: none;
          border: none;
          border-radius: 0;
          width: 20px;
          height: 20px; }
          .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-upper:focus, .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-upper:active {
            outline: none; }
          .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-upper:after {
            display: none; }
          .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-handle-upper:before {
            display: none; }
        .main-head-xs__slide .slide-item .dropdown-menu .noUi-target .noUi-tooltip {
          bottom: -25px;
          color: #656564;
          font-size: .75em;
          border: none;
          background: none; }
      .main-head-xs__slide .slide-item .dropdown-menu button {
        display: flex;
        align-content: center;
        justify-content: center;
        text-transform: uppercase;
        align-items: center;
        font-size: .75em;
        margin: 4em 0 1em; }
        .main-head-xs__slide .slide-item .dropdown-menu button:active, .main-head-xs__slide .slide-item .dropdown-menu button:focus {
          outline: none;
          box-shadow: none; }
        .main-head-xs__slide .slide-item .dropdown-menu button i {
          font-size: 1.5em;
          margin: 0 .5em 0 0;
          color: #d4d4d4; }
        .main-head-xs__slide .slide-item .dropdown-menu button[type=submit] {
          background: #008a7f;
          border: none;
          color: white;
          font-size: 1em;
          padding: .5em 2em;
          transition: all .5s;
          text-align: center; }
          .main-head-xs__slide .slide-item .dropdown-menu button[type=submit]:hover {
            background: #d4d4d4;
            color: #008a7f; }
      .main-head-xs__slide .slide-item .dropdown-menu .example-val {
        visibility: hidden; }
  .main-head-xs .slick-dots {
    bottom: 41%;
    text-align: left;
    padding: 0 0 0 15%;
    z-index: 1;
    position: absolute; }
    @media (max-width: 325px) {
      .main-head-xs .slick-dots {
        bottom: 30%; } }
    .main-head-xs .slick-dots li {
      width: 60px;
      height: 10px; }
      .main-head-xs .slick-dots li button:before {
        width: 60px;
        height: 10px;
        font-size: 0;
        background: #e4b65c; }
      .main-head-xs .slick-dots li.slick-active button:before {
        opacity: 1; }

.mobile-filter {
  background: #008a7f;
  position: relative;
  top: 5em; }
  .mobile-filter button {
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: .875em; }
    .mobile-filter button:focus, .mobile-filter button:active {
      color: white; }
  .mobile-filter .dropdown-menu {
    width: 100%;
    border: none;
    border-radius: 0;
    margin: 4.5em 0 0;
    background: #008a7f; }
    .mobile-filter .dropdown-menu .spot select {
      border: solid thin white;
      background: none;
      width: 85%;
      margin: 0 auto;
      padding: .5em;
      display: block;
      color: white;
      text-transform: uppercase;
      border-radius: 0; }
      .mobile-filter .dropdown-menu .spot select option {
        color: white; }
    .mobile-filter .dropdown-menu ul {
      padding: 0 2em; }
      .mobile-filter .dropdown-menu ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75em;
        color: white;
        border-bottom: solid thin white; }
        .mobile-filter .dropdown-menu ul li:nth-child(7) {
          height: 70px; }
        .mobile-filter .dropdown-menu ul li:last-child {
          border-bottom: none; }
        .mobile-filter .dropdown-menu ul li .label-date {
          display: flex;
          align-items: center; }
          .mobile-filter .dropdown-menu ul li .label-date i {
            font-size: 1.5em;
            margin: 0 .5em 0 0; }
          .mobile-filter .dropdown-menu ul li .label-date span {
            font-size: .75em;
            max-width: 80px; }
        .mobile-filter .dropdown-menu ul li select {
          background: #006c63;
          border: none;
          height: 20px;
          color: white;
          min-width: 80px;
          text-align: center;
          border-radius: 0; }
        .mobile-filter .dropdown-menu ul li button {
          display: block;
          background: white;
          border: none;
          color: #008a7f;
          width: 100%;
          padding: .5em 0; }
        .mobile-filter .dropdown-menu ul li .noUi-target {
          width: 260px;
          margin: 0 auto;
          padding: 0 1em 0 0;
          height: 5px;
          box-shadow: none;
          border: none;
          background: #d4d4d4;
          top: 0; }
          .mobile-filter .dropdown-menu ul li .noUi-target:before {
            content: "PRECIO";
            font-weight: 700;
            display: block;
            position: absolute;
            font-size: .75em;
            top: -25px; }
          .mobile-filter .dropdown-menu ul li .noUi-target .noUi-connect {
            background: #e4b65c; }
          .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-lower {
            background: #e4b65c;
            box-shadow: none;
            border: none;
            border-radius: 0;
            width: 20px;
            height: 20px; }
            .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-lower:focus, .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-lower:active {
              outline: none; }
            .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-lower:after {
              display: none; }
            .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-lower:before {
              display: none; }
          .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-upper {
            background: #e4b65c;
            box-shadow: none;
            border: none;
            border-radius: 0;
            width: 20px;
            height: 20px; }
            .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-upper:focus, .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-upper:active {
              outline: none; }
            .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-upper:after {
              display: none; }
            .mobile-filter .dropdown-menu ul li .noUi-target .noUi-handle-upper:before {
              display: none; }
          .mobile-filter .dropdown-menu ul li .noUi-target .noUi-tooltip {
            bottom: -25px;
            color: white;
            font-size: .75em;
            border: none;
            background: none; }

.project {
  background: #f4f4f4;
  padding: 0 0 2em; }
  .project.project--int {
    background: white; }
  .project__box {
    border: solid thin #d4d4d4;
    padding: .5em;
    margin: 0 0 2em;
    width: 32%; }
    @media (max-width: 768px) {
      .project__box {
        width: 49%; } }
    @media (max-width: 425px) {
      .project__box {
        width: 90%;
        margin: 0 auto 1em; } }
    .project__box figure {
      position: relative; }
      .project__box figure img {
        width: 100%;
        height: auto; }
      .project__box figure .label-type {
        background: white;
        font-size: .75em;
        font-weight: 700;
        color: #008a7f;
        border-radius: 2px;
        position: absolute;
        padding: .5em .75em;
        top: .75em;
        right: .75em;
        text-transform: uppercase; }
      .project__box figure figcaption {
        min-height: 65px; }
        .project__box figure figcaption h4 {
          color: #008a7f;
          text-transform: uppercase;
          font-weight: 700;
          font-size: .75em;
          margin: 2em 0 0; }
        .project__box figure figcaption h2 {
          font-size: 1.125em;
          font-weight: 700;
          text-transform: uppercase; }
    .project__box .box-features {
      display: flex;
      justify-content: space-between; }
      .project__box .box-features li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        height: 30px;
        border-right: solid thin #d4d4d4;
        margin: 0 0 .75em; }
        .project__box .box-features li span {
          margin: 0 .5em; }
        .project__box .box-features li:last-child {
          border-right: none; }
    .project__box .box-desc {
      display: flex;
      align-items: center;
      background: #656564;
      color: white;
      padding: .25em .5em;
      margin: 0 0 .75em;
      font-size: .75em;
      font-weight: 700;
      text-transform: uppercase; }
      .project__box .box-desc > li {
        list-style: none; }
        .project__box .box-desc > li:nth-child(1) {
          width: 30%;
          text-align: center; }
        .project__box .box-desc > li:nth-child(2) {
          width: 70%; }
        .project__box .box-desc > li .mts-price li {
          width: 100%;
          list-style: none; }
          .project__box .box-desc > li .mts-price li:nth-child(1) {
            border-bottom: solid thin white; }
    .project__box .box-bt {
      display: flex;
      justify-content: space-between; }
      .project__box .box-bt li {
        list-style: none;
        text-align: center;
        width: 49.875%; }
        .project__box .box-bt li a {
          background: #008a7f;
          display: block;
          color: white;
          padding: .375em 0;
          text-transform: uppercase;
          font-weight: 700;
          transition: all .25s; }
          .project__box .box-bt li a:hover {
            background: #d4d4d4;
            color: #656564; }
        .project__box .box-bt li:nth-child(1) a {
          background: #65beb7; }
          .project__box .box-bt li:nth-child(1) a:hover {
            background: #d4d4d4;
            color: #656564; }

.investment {
  padding: 0 0 2em; }
  .investment .profitability {
    background: #f4f4f4; }
    .investment .profitability figure {
      display: flex;
      position: relative; }
      .investment .profitability figure:after {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 2px;
        background: #656564;
        left: .75em;
        bottom: 18.5%;
        transform: rotate(-45deg);
        z-index: 2; }
      .investment .profitability figure:before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 2px;
        background: #656564;
        left: .75em;
        bottom: 20.5%;
        transform: rotate(45deg);
        z-index: 2; }
      .investment .profitability figure .btn-go {
        background: #d4d4d4;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 130px; }
        .investment .profitability figure .btn-go:after {
          content: "";
          display: block;
          position: absolute; }
      .investment .profitability figure figcaption {
        padding: 1.25em 1em; }
        .investment .profitability figure figcaption h2 {
          font-size: 1.25em;
          margin: 0 0 .75em;
          text-transform: uppercase; }
  .investment .banner {
    margin: 0 0 1.875em;
    position: relative; }
    .investment .banner:after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 2px;
      background: #656564;
      left: .75em;
      top: 55%;
      transform: rotate(-45deg);
      z-index: 2; }
    .investment .banner:before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 2px;
      background: #656564;
      left: .75em;
      top: 50.5%;
      transform: rotate(45deg);
      z-index: 2; }
    .investment .banner a:before {
      content: "";
      background: #d4d4d4;
      display: inline-block;
      position: absolute;
      height: 131px;
      width: 31px; }

.head-project {
  position: relative; }
  .head-project .slide-images__item img {
    width: 100%;
    height: auto; }
  .head-project .slick-next, .head-project .slick-prev {
    top: 60%;
    z-index: 3; }
  .head-project .slick-prev {
    left: 30px; }
    .head-project .slick-prev:before {
      content: "";
      width: 15px;
      height: 2px;
      background: white;
      display: block;
      transform: rotate(130deg);
      opacity: 1; }
    .head-project .slick-prev:after {
      content: "";
      width: 15px;
      height: 2px;
      background: white;
      display: block;
      transform: rotate(-130deg);
      margin: 8px 0 0; }
  .head-project .slick-next {
    right: 40px; }
    .head-project .slick-next:before {
      content: "";
      width: 15px;
      height: 2px;
      background: white;
      display: block;
      transform: rotate(50deg);
      opacity: 1; }
    .head-project .slick-next:after {
      content: "";
      width: 15px;
      height: 2px;
      background: white;
      display: block;
      transform: rotate(-50deg);
      margin: 8px 0 0; }
  .head-project__desc {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 90%;
    max-width: 1110px;
    left: 0;
    right: 0; }
    .head-project__desc h1 {
      color: white; }
    .head-project__desc h3 {
      color: #e4b65c;
      text-transform: uppercase; }
    .head-project__desc p {
      color: white;
      max-width: 70%; }
    .head-project__desc .c-bttn {
      display: flex;
      position: fixed;
      bottom: 0; }
      .head-project__desc .c-bttn li {
        list-style: none;
        align-self: auto; }
        .head-project__desc .c-bttn li:nth-child(1) a {
          border: solid thin white;
          background: #65beb7; }
        .head-project__desc .c-bttn li:nth-child(2) a {
          border: solid thin white;
          border-left: none;
          background: #008a7f; }
        .head-project__desc .c-bttn li a {
          color: white;
          padding: .5em 5em; }

.modelos__boxes {
  border: solid thin #dad7ca;
  margin: 1em 0 4em; }
  .modelos__boxes .title {
    padding: 1em 2em; }
    .modelos__boxes .title h2 {
      text-transform: uppercase;
      font-size: 1.375em; }
  .modelos__boxes .box-item {
    border-top: solid thin #dad7ca;
    border-right: solid thin #dad7ca;
    position: relative;
    padding: 1em 1em 3em; }
    .modelos__boxes .box-item:last-child {
      border-right: none; }
    .modelos__boxes .box-item h3 {
      text-transform: uppercase;
      color: #008a7f;
      font-size: .85em;
      margin: 1em; }
    .modelos__boxes .box-item ul li {
      list-style: none;
      padding: .5em;
      display: flex;
      align-items: center; }
      .modelos__boxes .box-item ul li i {
        font-size: 1.5em;
        margin: 0 .5em 0 0;
        color: #dad7ca; }
      .modelos__boxes .box-item ul li span {
        font-size: .75em; }
      .modelos__boxes .box-item ul li a {
        position: absolute;
        bottom: -.875em;
        left: 0;
        right: 0;
        margin: auto;
        padding: .5em 0;
        max-width: 100px;
        background: #d4d4d4;
        color: #656564;
        text-align: center;
        text-transform: uppercase;
        font-size: .85em; }

.tabs-project {
  margin: 0 0 2em; }
  .tabs-project .nav-tabs {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0 0 2em; }
    .tabs-project .nav-tabs a {
      color: #656564;
      font-size: .875em;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 2px #d4d4d4; }
      .tabs-project .nav-tabs a.active {
        border-bottom: solid 2px #008a7f; }
  .tabs-project .tab-content .tab-pane {
    position: relative; }
    .tabs-project .tab-content .tab-pane .slide-termin, .tabs-project .tab-content .tab-pane .slide-equip, .tabs-project .tab-content .tab-pane .slide-spot {
      width: 60%; }
      .tabs-project .tab-content .tab-pane .slide-termin__item, .tabs-project .tab-content .tab-pane .slide-equip__item, .tabs-project .tab-content .tab-pane .slide-spot__item {
        display: flex;
        justify-content: center;
        align-items: center; }
        .tabs-project .tab-content .tab-pane .slide-termin__item img, .tabs-project .tab-content .tab-pane .slide-equip__item img, .tabs-project .tab-content .tab-pane .slide-spot__item img {
          width: 100%;
          height: auto;
          z-index: 1; }
        .tabs-project .tab-content .tab-pane .slide-termin__item i, .tabs-project .tab-content .tab-pane .slide-equip__item i, .tabs-project .tab-content .tab-pane .slide-spot__item i {
          position: absolute;
          left: 0;
          right: 0;
          top: 40%;
          margin: auto;
          text-align: center;
          font-size: 3em;
          color: white;
          z-index: 2; }
      @media (max-width: 925px) {
        .tabs-project .tab-content .tab-pane .slide-termin, .tabs-project .tab-content .tab-pane .slide-equip, .tabs-project .tab-content .tab-pane .slide-spot {
          position: relative;
          width: 100%; } }
    .tabs-project .tab-content .tab-pane .slide-termin--nav, .tabs-project .tab-content .tab-pane .slide-equip--nav, .tabs-project .tab-content .tab-pane .slide-spot--nav {
      position: absolute;
      width: 40%;
      left: 10%;
      bottom: 3em; }
      .tabs-project .tab-content .tab-pane .slide-termin--nav__item, .tabs-project .tab-content .tab-pane .slide-equip--nav__item, .tabs-project .tab-content .tab-pane .slide-spot--nav__item {
        padding: .25em .125em; }
        .tabs-project .tab-content .tab-pane .slide-termin--nav__item img, .tabs-project .tab-content .tab-pane .slide-equip--nav__item img, .tabs-project .tab-content .tab-pane .slide-spot--nav__item img {
          width: 100%;
          height: auto;
          border: solid thin white; }
    .tabs-project .tab-content .tab-pane__link {
      position: absolute;
      right: 7em;
      top: 2em;
      text-transform: uppercase; }
      @media (max-width: 925px) {
        .tabs-project .tab-content .tab-pane__link {
          position: relative; } }
      .tabs-project .tab-content .tab-pane__link a {
        font-size: .85em;
        color: #656564; }
        .tabs-project .tab-content .tab-pane__link a:before {
          content: "";
          display: inline-block;
          background: url("../images/icon-downlaod.png");
          width: 16px;
          height: 20px;
          margin: 0 .5em -5px 0; }
    .tabs-project .tab-content .tab-pane__box {
      background: white;
      max-width: 570px;
      padding: 1.5em;
      position: absolute;
      top: 25%;
      right: 2em;
      z-index: 2; }
      .tabs-project .tab-content .tab-pane__box h2 {
        font-size: 1.125em;
        margin: 0 0 1em;
        text-transform: uppercase; }
      @media (max-width: 925px) {
        .tabs-project .tab-content .tab-pane__box {
          position: relative;
          width: 100%; } }

.contact-project {
  margin: 0 0 2em; }
  .contact-project__form {
    border: solid thin #008a7f;
    padding: 1em;
    width: 500px;
    float: right; }
    @media (max-width: 925px) {
      .contact-project__form {
        float: none;
        width: 100%; } }
    .contact-project__form form h2 {
      color: #008a7f;
      text-transform: uppercase;
      font-size: .85em;
      padding: .25em; }
    .contact-project__form form input {
      display: block;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid thin #d4d4d4;
      width: 100%;
      padding: .325em;
      margin: 0 0 .5em; }
      .contact-project__form form input::-webkit-input-placeholder {
        text-transform: uppercase;
        font-size: .75em; }
      .contact-project__form form input:-moz-placeholder {
        text-transform: uppercase;
        font-size: .75em; }
      .contact-project__form form input::-moz-placeholder {
        text-transform: uppercase;
        font-size: .75em; }
      .contact-project__form form input:-ms-input-placeholder {
        text-transform: uppercase;
        font-size: .75em; }
    .contact-project__form form select {
      background: url("../images/arrow-select.png") no-repeat;
      background-position: 98% 50%;
      position: relative;
      display: block;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid thin #d4d4d4;
      border-radius: 0;
      width: 100%;
      padding: .75em .325em .75em;
      margin: 0 0 .5em;
      color: #656564;
      text-transform: uppercase;
      font-size: .75em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .contact-project__form form textarea {
      display: block;
      border: none;
      width: 100%;
      padding: .25em;
      margin: 1em 0 2em;
      resize: none;
      font-size: .75em;
      background: rgba(0, 0, 0, 0);
      height: 90px;
      transition: all .5s; }
      .contact-project__form form textarea::-webkit-input-placeholder {
        text-transform: uppercase; }
      .contact-project__form form textarea:-moz-placeholder {
        text-transform: uppercase; }
      .contact-project__form form textarea::-moz-placeholder {
        text-transform: uppercase; }
      .contact-project__form form textarea:-ms-input-placeholder {
        text-transform: uppercase; }
      .contact-project__form form textarea:focus {
        background: rgba(0, 0, 0, 0.15); }
    .contact-project__form form button {
      background: #008a7f;
      border: none;
      border-radius: 0;
      padding: .5em .25em;
      width: 100px;
      text-align: center;
      color: white;
      display: block;
      margin: .5em auto; }
  .contact-project__dates {
    border: solid thin #008a7f;
    position: relative;
    width: 500px; }
    @media (max-width: 925px) {
      .contact-project__dates {
        width: 100%; } }
    .contact-project__dates .label {
      background: #d4d4d4;
      color: #656564;
      font-size: .85em;
      font-weight: 700;
      padding: .325em .75em;
      position: absolute;
      text-transform: uppercase;
      top: .75em;
      right: .75em; }
    .contact-project__dates .dates-text {
      padding: 1em; }
      .contact-project__dates .dates-text h2 {
        color: #008a7f;
        text-transform: uppercase;
        font-size: .85em; }
      .contact-project__dates .dates-text h3 {
        text-transform: uppercase;
        font-size: 1.125em;
        margin: .5em 0; }
    .contact-project__dates .map {
      margin: 2.65em 0 0; }
      .contact-project__dates .map iframe {
        width: 100%;
        height: auto;
        margin: 0 0 -7px; }

.ejecutive-sale {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2em; }
  .ejecutive-sale__box {
    width: 50%; }
    .ejecutive-sale__box figure {
      display: flex;
      flex-wrap: wrap; }
      .ejecutive-sale__box figure .img-container {
        border: solid thin #d4d4d4;
        border-radius: 100%;
        overflow-y: hidden;
        padding: .375em;
        width: 85px;
        height: 80px; }
        .ejecutive-sale__box figure .img-container img {
          width: 100%;
          height: auto;
          border-radius: 100%; }
      .ejecutive-sale__box figure figcaption {
        display: flex;
        align-items: center;
        padding: .5em; }
        .ejecutive-sale__box figure figcaption .text {
          margin: 0 1em 0 0; }
          .ejecutive-sale__box figure figcaption .text h2 {
            text-transform: uppercase;
            font-size: 1.125em; }
          .ejecutive-sale__box figure figcaption .text h3 {
            font-size: 1em; }
        .ejecutive-sale__box figure figcaption .dates p {
          margin: 0; }

.desc-mod {
  margin: 0 0 3em; }
  .desc-mod nav ul {
    display: flex;
    justify-content: flex-end; }
    .desc-mod nav ul li {
      text-transform: uppercase;
      list-style: none;
      padding: 1em 0; }
      .desc-mod nav ul li a {
        color: #656564;
        padding: .5em 2em;
        border-bottom: solid 2px #d4d4d4; }
        .desc-mod nav ul li a.active {
          border-bottom: solid 2px #008a7f; }
  .desc-mod__detalle {
    border: solid thin #d4d4d4;
    margin: 1em 0 3em; }
    .desc-mod__detalle ul {
      display: flex;
      justify-content: space-between; }
      .desc-mod__detalle ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 1em; }
        .desc-mod__detalle ul li h4 {
          font-size: .85em;
          margin: 0 0 0 .5em; }
        .desc-mod__detalle ul li i {
          color: #d4d4d4;
          font-size: 1.5em; }
        .desc-mod__detalle ul li:first-child {
          color: #008a7f;
          text-transform: uppercase;
          font-weight: 700;
          border-right: solid thin #d4d4d4; }
  .desc-mod .form-unity form {
    display: flex;
    justify-content: space-between; }
    .desc-mod .form-unity form .image-detail {
      display: flex;
      justify-content: space-between; }
      .desc-mod .form-unity form .image-detail__master h2 {
        text-transform: uppercase;
        font-size: .975em;
        color: #008a7f;
        margin: 0 0 1em; }
      .desc-mod .form-unity form .image-detail__plantas {
        position: relative;
        margin: 0 0 0 3em; }
        .desc-mod .form-unity form .image-detail__plantas h2 {
          position: absolute;
          text-transform: uppercase;
          font-size: .975em;
          color: #008a7f;
          font-weight: 700; }
        .desc-mod .form-unity form .image-detail__plantas nav .nav-tabs {
          display: flex;
          justify-content: flex-end;
          border: none; }
          .desc-mod .form-unity form .image-detail__plantas nav .nav-tabs a {
            border: none;
            text-transform: uppercase;
            color: #656564;
            padding: 0 1em 0;
            font-size: .85em;
            font-weight: 700;
            line-height: 16px;
            position: relative; }
            .desc-mod .form-unity form .image-detail__plantas nav .nav-tabs a.active:after {
              content: "";
              display: block;
              position: absolute;
              height: 5px;
              background: #008a7f;
              left: 0;
              right: 0;
              bottom: -15px; }
        .desc-mod .form-unity form .image-detail__plantas .tab-content {
          border: solid thin #d4d4d4;
          padding: 1em 2em;
          margin: 1em 0 0; }
          .desc-mod .form-unity form .image-detail__plantas .tab-content .zoom {
            display: inline-block;
            position: relative; }
            .desc-mod .form-unity form .image-detail__plantas .tab-content .zoom img {
              display: block;
              width: 100%;
              height: auto; }
          .desc-mod .form-unity form .image-detail__plantas .tab-content .zoom img::selection {
            background-color: transparent; }
  .desc-mod .form-unity .select-date {
    border: solid thin #d4d4d4;
    padding: .75em;
    min-width: 310px; }
    .desc-mod .form-unity .select-date select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      background-image: url("../images/arrow-select.png");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid thin black;
      width: 100%;
      margin: 0 0 .5em; }
    .desc-mod .form-unity .select-date__price {
      display: flex;
      padding: .5em;
      background: #d4d4d4;
      justify-content: space-between;
      align-items: center;
      align-content: center; }
      .desc-mod .form-unity .select-date__price p {
        font-size: .75em;
        text-transform: uppercase;
        margin: 0; }
      .desc-mod .form-unity .select-date__price h2 {
        font-size: 1.125em;
        font-weight: 700; }
    .desc-mod .form-unity .select-date__sup {
      padding: .25em 0;
      border-bottom: solid thin #d4d4d4; }
      .desc-mod .form-unity .select-date__sup p {
        margin: 0; }
      .desc-mod .form-unity .select-date__sup h3 {
        font-size: .85em;
        font-weight: 700; }
    .desc-mod .form-unity .select-date__areas {
      padding: .25em 0; }
      .desc-mod .form-unity .select-date__areas p {
        margin: 0; }
      .desc-mod .form-unity .select-date__areas h3 {
        font-size: .85em;
        font-weight: 700; }

.inversion {
  margin: -10em 0 0;
  position: relative; }
  .inversion__gray-box {
    background: #d4d4d4;
    font-family: "Playfair Display", serif;
    padding: 3em 12em 12em 2.75em; }
    .inversion__gray-box h3 {
      font-weight: 1.5em;
      margin: 0 1em 0 0;
      text-transform: uppercase; }
      .inversion__gray-box h3 span {
        font-weight: 700; }
  .inversion__white-box {
    background: white;
    position: absolute;
    top: 10em;
    right: 5em;
    padding: 1em;
    max-width: 800px; }
    .inversion__white-box ul {
      display: flex;
      flex-wrap: wrap; }
      .inversion__white-box ul li {
        display: flex;
        align-items: flex-start;
        width: 50%;
        margin: 1em 0; }
        .inversion__white-box ul li .icon {
          background: #d4d4d4;
          color: #008a7f;
          border-radius: 50% 50%;
          padding: 1em; }
          .inversion__white-box ul li .icon i {
            font-size: 1.5em; }
        .inversion__white-box ul li .text {
          margin: 0 0 0 1em; }
          .inversion__white-box ul li .text h3 {
            color: #008a7f;
            text-transform: uppercase;
            font-size: 1.125em;
            font-weight: 700; }
          .inversion__white-box ul li .text p {
            font-size: 1em; }
  .inversion .beneficios ul {
    display: flex;
    align-items: center;
    border: solid thin #d4d4d4;
    padding: 0;
    margin: 4em 0 2em; }
    .inversion .beneficios ul li {
      list-style: none; }
      .inversion .beneficios ul li:nth-child(1) {
        padding: 1.5em 2em;
        border-right: solid thin #d4d4d4; }
      .inversion .beneficios ul li h3 {
        font-weight: 700;
        font-size: 2em;
        text-transform: uppercase;
        line-height: .85em; }
        .inversion .beneficios ul li h3 span {
          display: block;
          font-weight: 400;
          font-size: .65em; }
      .inversion .beneficios ul li ul {
        border: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0; }
        .inversion .beneficios ul li ul li {
          width: 50%;
          list-style: none;
          border: none;
          padding: .5em .5em .5em 3em;
          background: url("../images/check.png") no-repeat;
          background-position: 5% 50%; }
          .inversion .beneficios ul li ul li:nth-child(1) {
            border: none;
            padding: .5em .5em .5em 3em; }
          .inversion .beneficios ul li ul li p {
            margin: 0; }

.formas-pago {
  padding: 0 0 2em; }
  .formas-pago__box {
    text-align: center;
    border: solid thin #d4d4d4;
    margin: 2em 0 0;
    padding: .5em; }
    .formas-pago__box .box-icon {
      font-size: 3em;
      background: #f4f4f4;
      color: #008a7f;
      border-radius: 50% 50%;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -50px auto 0; }
    .formas-pago__box h3 {
      font-size: 1.125em;
      text-transform: uppercase;
      color: #008a7f;
      height: 50px;
      margin: .5em 0 0; }
    .formas-pago__box p {
      width: 60%;
      margin: 0 auto; }

.proceso-compra {
  background: #f4f4f4;
  padding: 0 0 4em;
  margin: -2em 0 0; }
  .proceso-compra .nav-tabs {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0 0 3em; }
    .proceso-compra .nav-tabs .nav-item a {
      border: none;
      text-transform: uppercase;
      background: none;
      color: #656564;
      padding: 0 1em 0;
      font-size: .85em;
      font-weight: 700;
      line-height: 16px;
      position: relative; }
      .proceso-compra .nav-tabs .nav-item a:after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: white;
        left: 0;
        right: 0;
        bottom: -10px; }
      .proceso-compra .nav-tabs .nav-item a.active {
        color: #008a7f; }
        .proceso-compra .nav-tabs .nav-item a.active:after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background: #008a7f;
          left: 0;
          right: 0;
          bottom: -10px; }
  .proceso-compra .tab-content {
    max-width: 850px;
    margin: 0 auto; }
    .proceso-compra .tab-content .col-lg-5 img {
      width: 100%;
      height: auto; }
    .proceso-compra .tab-content .col-lg-7 {
      padding: 0 3em; }
      .proceso-compra .tab-content .col-lg-7 h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5em;
        margin: 0 0 1em;
        color: #008a7f; }
      .proceso-compra .tab-content .col-lg-7 a {
        background: #008a7f;
        text-transform: uppercase;
        display: inline-block;
        padding: .425em 2.5em;
        font-size: .95em;
        color: white; }

.post-venta {
  padding: 4em 0; }
  .post-venta .nav-tabs {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0 0 3em; }
    .post-venta .nav-tabs .nav-item a {
      border: none;
      text-transform: uppercase;
      background: none;
      color: #656564;
      padding: 0 1em 0;
      font-size: .85em;
      font-weight: 700;
      line-height: 16px;
      position: relative; }
      .post-venta .nav-tabs .nav-item a:after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: #d4d4d4;
        left: 0;
        right: 0;
        bottom: -10px; }
      .post-venta .nav-tabs .nav-item a.active {
        color: #008a7f; }
        .post-venta .nav-tabs .nav-item a.active:after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background: #008a7f;
          left: 0;
          right: 0;
          bottom: -10px; }
  .post-venta .tab-content .step:nth-child(2) {
    background: #f4f4f4;
    padding: 2em 1em;
    display: flex;
    flex-wrap: wrap; }
  .post-venta .tab-content .step__title {
    width: 100%;
    margin: .5em 0 2em; }
    .post-venta .tab-content .step__title h2 {
      color: #008a7f;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5em; }
  .post-venta .tab-content .step .check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .post-venta .tab-content .step .check-list li {
      width: 33%;
      list-style: none;
      margin: 1em 0; }
      .post-venta .tab-content .step .check-list li input[type=checkbox] {
        display: none; }
      .post-venta .tab-content .step .check-list li input:checked + label i {
        background: #656564; }
      .post-venta .tab-content .step .check-list li label {
        display: flex;
        align-items: center; }
        .post-venta .tab-content .step .check-list li label i {
          border-radius: 50% 50%;
          padding: .5em;
          background: #d4d4d4;
          color: #008a7f;
          font-size: 2em; }
        .post-venta .tab-content .step .check-list li label p {
          padding: 1em; }
  .post-venta .tab-content .step .col-form {
    width: 50%;
    padding: 0 1em; }

.main-madesal {
  padding: 2em 0; }
  .main-madesal .col-lg-7 {
    background: white;
    z-index: 2; }
    .main-madesal .col-lg-7 h2 {
      color: #008a7f;
      text-transform: uppercase;
      font-size: 1.5em; }
  .main-madesal .img-box {
    position: absolute;
    z-index: 1; }
  .main-madesal .row {
    position: relative; }
    .main-madesal .row.row--first {
      padding: 0 0 10em; }
      .main-madesal .row.row--first .col-lg-7 {
        margin: 2em 0 0; }
        .main-madesal .row.row--first .col-lg-7 h2, .main-madesal .row.row--first .col-lg-7 p {
          padding: 1em; }
      .main-madesal .row.row--first .img-box {
        right: 0;
        top: 0; }
    .main-madesal .row.row--second .col-lg-7 {
      margin: 2em 0 0; }
      .main-madesal .row.row--second .col-lg-7 h2, .main-madesal .row.row--second .col-lg-7 p {
        padding: 1em; }
    .main-madesal .row.row--second .img-box {
      left: 0;
      top: 0; }

.team-madesal {
  margin: 15em 0 0; }
  .team-madesal h2 {
    color: #008a7f;
    margin: 0 0 1em; }
  .team-madesal .thumb-img {
    border-radius: 50% 50%;
    overflow: hidden;
    width: 90px;
    height: 90px; }
    .team-madesal .thumb-img img {
      width: 100%;
      height: auto; }
  .team-madesal h3 {
    font-size: 1em;
    font-weight: 700;
    color: #008a7f; }
  .team-madesal p {
    margin: 0; }
  .team-madesal .map iframe {
    width: 100%; }

.simuladores {
  padding: 2em 0; }
  .simuladores .nav-tabs {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0 0 3em; }
    @media (max-width: 525px) {
      .simuladores .nav-tabs .nav-item {
        margin: .5em 0;
        width: 100%; } }
    .simuladores .nav-tabs .nav-item a {
      border: none;
      text-transform: uppercase;
      background: none;
      color: #656564;
      padding: 0 2em 0;
      font-size: .85em;
      font-weight: 700;
      line-height: 16px;
      position: relative; }
      .simuladores .nav-tabs .nav-item a:after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: #d4d4d4;
        left: 0;
        right: 0;
        bottom: -10px; }
      .simuladores .nav-tabs .nav-item a.active {
        color: #008a7f; }
        .simuladores .nav-tabs .nav-item a.active:after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          background: #008a7f;
          left: 0;
          right: 0;
          bottom: -10px; }
  .simuladores form ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5em 0; }
    @media (max-width: 768px) {
      .simuladores form ul {
        justify-content: center; } }
    .simuladores form ul li {
      list-style: none;
      font-size: .975em;
      font-weight: 700;
      text-transform: uppercase; }
      .simuladores form ul li span {
        display: block; }
      .simuladores form ul li input[type=number] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f3f3f3;
        box-shadow: none;
        border: none;
        padding: .25em .5em;
        margin: 0 .25em; }
      .simuladores form ul li input[type=radio] {
        display: none; }
      .simuladores form ul li input:checked + label {
        background: #008a7f;
        color: white; }
      .simuladores form ul li label {
        background: #d4d4d4;
        width: 48px;
        height: 30px;
        text-align: center;
        margin: .125em 0 0;
        padding: .275em 0 0; }
      .simuladores form ul li .noUi-target {
        min-width: 200px;
        padding: 0 1em 0 0;
        height: 5px;
        box-shadow: none;
        border: none;
        background: #d4d4d4;
        top: 0; }
        .simuladores form ul li .noUi-target .noUi-connect {
          background: #e4b65c; }
        .simuladores form ul li .noUi-target .noUi-handle-lower {
          background: #e4b65c;
          box-shadow: none;
          border: none;
          border-radius: 0;
          width: 20px;
          height: 20px; }
          .simuladores form ul li .noUi-target .noUi-handle-lower:focus, .simuladores form ul li .noUi-target .noUi-handle-lower:active {
            outline: none; }
          .simuladores form ul li .noUi-target .noUi-handle-lower:after {
            height: 10px;
            left: 9px;
            width: 2px;
            top: 5px; }
          .simuladores form ul li .noUi-target .noUi-handle-lower:before {
            transform: rotate(90deg);
            height: 10px;
            left: 9px;
            width: 2px;
            top: 5px; }
        .simuladores form ul li .noUi-target .noUi-handle-upper {
          background: #e4b65c;
          box-shadow: none;
          border: none;
          border-radius: 0;
          width: 20px;
          height: 20px; }
          .simuladores form ul li .noUi-target .noUi-handle-upper:focus, .simuladores form ul li .noUi-target .noUi-handle-upper:active {
            outline: none; }
          .simuladores form ul li .noUi-target .noUi-handle-upper:after {
            display: none; }
          .simuladores form ul li .noUi-target .noUi-handle-upper:before {
            display: none; }
        .simuladores form ul li .noUi-target .noUi-tooltip {
          bottom: -25px;
          color: #656564;
          font-size: .75em;
          border: none;
          background: none; }
      .simuladores form ul li .example-val {
        visibility: hidden; }
  .simuladores form .noUi-target {
    min-width: 200px;
    padding: 0 1em 0 0;
    height: 5px;
    box-shadow: none;
    border: none;
    background: #d4d4d4;
    top: 15px;
    margin: 1.5em 0; }
    .simuladores form .noUi-target .noUi-connect {
      background: #e4b65c; }
    .simuladores form .noUi-target .noUi-handle-lower {
      background: #e4b65c;
      box-shadow: none;
      border: none;
      border-radius: 0;
      width: 20px;
      height: 20px; }
      .simuladores form .noUi-target .noUi-handle-lower:focus, .simuladores form .noUi-target .noUi-handle-lower:active {
        outline: none; }
      .simuladores form .noUi-target .noUi-handle-lower:after {
        height: 10px;
        left: 9px;
        width: 2px;
        top: 5px; }
      .simuladores form .noUi-target .noUi-handle-lower:before {
        transform: rotate(90deg);
        height: 10px;
        left: 9px;
        width: 2px;
        top: 5px; }
    .simuladores form .noUi-target .noUi-handle-upper {
      background: #e4b65c;
      box-shadow: none;
      border: none;
      border-radius: 0;
      width: 20px;
      height: 20px; }
      .simuladores form .noUi-target .noUi-handle-upper:focus, .simuladores form .noUi-target .noUi-handle-upper:active {
        outline: none; }
      .simuladores form .noUi-target .noUi-handle-upper:after {
        display: none; }
      .simuladores form .noUi-target .noUi-handle-upper:before {
        display: none; }
    .simuladores form .noUi-target .noUi-tooltip {
      bottom: -25px;
      color: #656564;
      font-size: .75em;
      border: none;
      background: none; }
  .simuladores form .example-val {
    visibility: hidden; }
  .simuladores form button {
    background: #008a7f;
    border: none;
    border-radius: 0;
    padding: .5em .25em;
    width: 100px;
    text-align: center;
    color: white;
    display: block;
    margin: .5em auto;
    text-transform: uppercase; }
  .simuladores form .result {
    padding: 2em 0 0; }
    .simuladores form .result p {
      font-size: .975em;
      margin: 0; }
    .simuladores form .result .price {
      font-size: 2.25em;
      margin: 0 0 1em; }
  .simuladores #hipotecario ul li:nth-child(1) {
    min-width: 150px;
    text-align: left; }
    @media (max-width: 768px) {
      .simuladores #hipotecario ul li:nth-child(1) {
        min-width: 100%;
        text-align: center;
        margin: 0 0 .5em; } }
  .simuladores #dividendo h3 {
    text-transform: uppercase;
    font-size: .875em;
    color: #656564; }
  .simuladores #dividendo ul li h4 {
    font-size: .875em;
    font-weight: 700; }
  .simuladores #dividendo ul li:nth-child(1) {
    width: 200px;
    text-align: left; }
  .simuladores #endeudamiento h3 {
    text-transform: uppercase;
    font-size: .875em;
    color: #656564; }
  .simuladores #endeudamiento form label {
    font-weight: 700; }
  .simuladores #endeudamiento ul li h4 {
    font-size: .875em;
    font-weight: 700; }
  .simuladores #endeudamiento ul li:nth-child(1) {
    width: 200px;
    text-align: left; }

.contactanos {
  padding: 0 0 4em; }
  .contactanos--sim {
    background: #f4f4f4; }
  .contactanos h3 {
    font-size: 1em;
    margin: 4em 0; }
  .contactanos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4em 0; }
    .contactanos ul li {
      width: 23%;
      list-style: none; }
      .contactanos ul li h3, .contactanos ul li h2 {
        font-size: 1.125em;
        color: #008a7f;
        padding: 0 5em 0 0;
        margin: 0; }
      .contactanos ul li h2 {
        font-weight: 700; }
      .contactanos ul li h4 {
        font-size: 1em;
        margin: 2em 0 0;
        color: #656564;
        font-weight: 700; }
      .contactanos ul li p {
        margin: 0; }
      .contactanos ul li ul {
        display: block; }
        .contactanos ul li ul li {
          display: flex;
          width: 100%; }
          .contactanos ul li ul li i {
            color: #008a7f;
            font-size: 1.25em;
            margin: 0 .5em 0 0; }
          .contactanos ul li ul li:last-child {
            border: none;
            padding: 0; }
      .contactanos ul li:last-child {
        width: 30%;
        border-left: solid thin #d4d4d4;
        padding: 0 0 0 1em; }

footer {
  background: #d4d4d4;
  padding: 2em 0; }
  @media (max-width: 768px) {
    footer img {
      margin: 0 auto 2em;
      display: block; } }
  footer .address {
    display: flex; }
    @media (max-width: 768px) {
      footer .address {
        flex-direction: column;
        align-items: center; } }
    footer .address li {
      list-style: none;
      max-width: 50%;
      margin: 0 2em 0 0; }
      @media (max-width: 768px) {
        footer .address li {
          text-align: center;
          margin: 0 auto 1em; } }
      footer .address li h4 {
        font-weight: 700;
        font-size: .85em; }
      footer .address li p {
        font-size: .85em; }
  footer .nav-social {
    display: flex; }
    @media (max-width: 768px) {
      footer .nav-social {
        align-items: center;
        justify-content: center; } }
    footer .nav-social li {
      margin: 0 2em 0 0;
      list-style: none; }
      @media (max-width: 768px) {
        footer .nav-social li {
          margin: 0 1em; } }
      footer .nav-social li a {
        font-size: 1.5em;
        color: #656564; }
