@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5e85ld');
  src:  url('../fonts/icomoon.eot?5e85ld#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5e85ld') format('truetype'),
    url('../fonts/icomoon.woff?5e85ld') format('woff'),
    url('../fonts/icomoon.svg?5e85ld#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-valor:before {
  content: "\e904";
}
.icon-dormitorio:before {
  content: "\e900";
}
.icon-bano:before {
  content: "\e901";
}
.icon-estacionamiento:before {
  content: "\e902";
}
.icon-casa:before {
  content: "\e903";
}
.icon-pisos:before {
  content: "\e906";
}
.icon-plano:before {
  content: "\e907";
}
.icon-cocina:before {
  content: "\e908";
}
.icon-zoom:before {
  content: "\e909";
}
.icon-peso:before {
  content: "\e90a";
}
.icon-inversion:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90e";
}
.icon-upval:before {
  content: "\e90f";
}
.icon-fin:before {
  content: "\e910";
}
.icon-ed:before {
  content: "\e911";
}
.icon-electricidad:before {
  content: "\e912";
}
.icon-techo:before {
  content: "\e913";
}
.icon-tubos:before {
  content: "\e914";
}
.icon-pintura:before {
  content: "\e915";
}
.icon-muto:before {
  content: "\e916";
}
.icon-box:before {
  content: "\e917";
}
.icon-gas:before {
  content: "\e918";
}
.icon-union:before {
  content: "\e919";
}
.icon-calefaccion:before {
  content: "\e91a";
}
.icon-facebook:before {
  content: "\e91b";
}
.icon-instagram:before {
  content: "\e91c";
}
.icon-twitter:before {
  content: "\e91d";
}
.icon-mapa:before {
  content: "\e91e";
}
.icon-whatsapp:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e920";
}
