* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.no-padding { padding: 0; }

@media screen and (max-width: 768px) { .no-padding { padding: 0 15px; } }

.no-padding-left { padding-left: 0; }

@media screen and (max-width: 768px) { .no-padding-left { padding-left: 0 15px; } }

.no-padding-right { padding-right: 0; }

@media screen and (max-width: 768px) { .no-padding-right { padding-right: 0 15px; } }

@media (max-width: 768px) { .no-padding-xs { padding: 0; }
  .no-padding-left-xs { padding-left: 0; }
  .no-padding-right-xs { padding-right: 0; } }

h1, h2, h3, h4 { margin: 0; }

ul { padding: 0; margin: 0; }

a:focus, input:focus, button:focus, textarea:focus, select:focus { outline: none; }

a:hover { text-decoration: none; }

a:active, a:focus { color: inherit; }

@media (max-width: 768px) { .navbar-header { float: none; }
  .navbar-toggle { display: block; }
  .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-collapse.collapse { display: none !important; }
  .navbar-collapse.collapse.in { display: block !important; }
  .navbar-nav { float: none !important; margin-top: 7.5px; }
  .navbar-nav li { float: none; }
  .navbar-nav li a { padding-top: 10px; padding-bottom: 10px; } }

html, body { width: 100%; height: 100%; font-size: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=style.css.map */