.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background: #eee;  
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 999999;	
	.loader:before, .loader:after{
	  content: "";
	  width: 20px;
	  height: 20px;
	  position: absolute;	  
	  left: calc(50% - 10px);
	  background-color: #3498db;
	  animation: squaremove 1s ease-in-out infinite;
	}
	.loader:after{	  
	  animation-delay: 0.5s;
	}
	@keyframes squaremove{
	  0%, 100%{
	    -webkit-transform: translate(0,0) rotate(0);
	    -ms-transform: translate(0,0) rotate(0);
	    -o-transform: translate(0,0) rotate(0);
	    transform: translate(0,0) rotate(0);
	  }
	  25%{
	    -webkit-transform: translate(40px,40px) rotate(45deg);
	    -ms-transform: translate(40px,40px) rotate(45deg);
	    -o-transform: translate(40px,40px) rotate(45deg);
	    transform: translate(40px,40px) rotate(45deg);
	  }
	  50%{
	    -webkit-transform: translate(0px,80px) rotate(0deg);
	    -ms-transform: translate(0px,80px) rotate(0deg);
	    -o-transform: translate(0px,80px) rotate(0deg);
	    transform: translate(0px,80px) rotate(0deg);
	  }
	  75%{
	    -webkit-transform: translate(-40px,40px) rotate(45deg);
	    -ms-transform: translate(-40px,40px) rotate(45deg);
	    -o-transform: translate(-40px,40px) rotate(45deg);
	    transform: translate(-40px,40px) rotate(45deg);
	  }
	}
}
