@mixin phone-s {
	@media (max-width: 320px) {
		@content;
	}
}
@mixin phone-m {
	@media (max-width: 375px) {
		@content;
	}
}
@mixin phone-l {
	@media (max-width: 468px) {
		@content;
	}
}

@mixin phone-xl {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: 1280px) {
		@content;
	}
}
@mixin desktop-xl {
	@media only screen and (min-width: 1500px) {
		@content;
	}
}
@mixin tablet-port {
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
		@content;
	}
}
@mixin tablet-land {
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
		@content;
	}
}

@mixin no-appearance {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}
