@import "variables";
@import "mixins";
@import "reset";
@import "loading";

html, body {
	width: 100%;
	height: auto;	
	font-family: $karla;	
	font-size: 100%;		
	color: $gris-d; 
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;  	
}


header {
	position: absolute;
	width: 100%;
	border-bottom: solid thin white;
	background-color: rgba(0, 0, 0, .25);			
	z-index: 2;
	color: white;	
	.brand-image {
		margin: 2em 0 1em;
	}
	.navbar {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		ul {
			li {
				a {
					text-transform: uppercase;
					color: white;
					&.nav-link {
						font-size: .85em;
						font-weight: 700;
						padding: 0 2em .25em;
					}
				}
			}
		}
		.top {
			margin: .75em 0 1.25em;
			ul {
				display: flex;
				align-items: center;
				li {
					list-style: none;
					a {
						color: white;
						padding: 0 1em;
						font-size: .75em;
						font-weight: 700;
						position: relative;
						&:after {
							content: "";
							display: block;
							position: absolute;
							right: 0;
							top: 0;
							height: 15px;
							width: 1px;
							background: white;
						}
					}
					&:nth-child(4) {					
						a {
							&:after {
								display: none;
							}
						}						
					}
					&:last-child {
						border: solid thin white;
						padding: .125em .25em;
						a {
							&:after {
								display: none;
							}
						}						
					}
					@media (max-width: 768px) {
						&:nth-child(1), &:nth-child(2), &:nth-child(3) {
							display: none;
						} 
					}
				}
			}
		}
		.navbar-collapse {
			width: 100%;
			justify-content: space-between;
		}
		.navbar-nav {
			width: 100%;
			justify-content: space-between;
			.nav-link {
				padding-right: 0;
			}
		}		
	}
}

.main-head {		
	position: relative;
	z-index: 1;
	&__image {
		img {
			width: 100%;
			height: auto;			
		}
	}
	&__title {
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		z-index: 2;
		h1 {
			color: white;
			font-family: $play;
			font-size: 3em;
			font-weight: 400;
			text-transform: uppercase;
			span {
				font-weight: 700;
				font-size: 1.5em;
				display: block;
			}
		}
	}
	&__form {
		position: absolute;
		background: white;
		bottom: 25%;
		left: 0;
		right: 0;
		padding: 1em 1em 1.25em;
		margin: auto;
		width: 90%;
		max-width: 1116px;
		form {
			ul {
				display: flex;				
				align-items: center;
				justify-content: space-between;
				li {
					list-style: none;
					button {
						display: flex;
						text-transform: uppercase;
						align-items: center;
						font-size: .75em;
						&:active, &:focus {
							outline: none;
							box-shadow: none;
						}
						i {
							font-size: 1.5em;
							margin: 0 .5em 0 0;
							color: $gris-l;
						}
						&[type=submit] {
							background: $green-d;
							border: none;
							color: white;
							font-size: 1em;
							padding: .5em 2em;
						}
					}
					.noUi-target  {
						min-width: 200px;
						padding: 0 1em 0 0;
						height: 5px;
						box-shadow: none;
						border: none;
						background: $gris-l;
						top: 15px;
						&:before {
							content: "PRECIO";
							font-weight: 700;
							display: block;
							position: absolute;
							font-size: .75em;
							top: -25px;
						}
						.noUi-connect {
							background: $yellow-d;
						}
						.noUi-handle-lower {	
							background: $yellow-d;
							box-shadow: none;
							border: none;	
							border-radius: 0;	
							width: 20px;
							height: 20px;
							&:focus, &:active {
								outline: none;
							}
							&:after {
								display: none;
							}
							&:before {
								display: none;
							}		
						}
						.noUi-handle-upper {
							background: $yellow-d;
							box-shadow: none;
							border: none;
							border-radius: 0;
							width: 20px;
							height: 20px;
							&:focus, &:active {
								outline: none;
							}
							&:after {
								display: none;
							}
							&:before {
								display: none;
							}
						}
						.noUi-tooltip {
							bottom: -25px;
							color: $gris-d;
							font-size: .75em;
							border: none;
							background: none;
						}
					}
					.example-val {
						visibility: hidden;
					}
					.dropdown {
						button {
							&.dropdown-toggle {
								&:after {
									display: none;
								}
							}							
						}
						&.show {
							position: relative;
							&:after {
								content: "";
								height: 18px;
								width: 18px;
								border-top: solid 7px white;
								border-left: solid 10px transparent;
								border-right: solid 10px transparent;
								position: absolute;
								left: 0;
								right: 0;
								bottom: -38px;
								margin: auto;
							}
							&:before {
								content: "";
								height: 18px;
								width: 18px;
								border-bottom: solid 7px white;
								border-left: solid 10px transparent;
								border-right: solid 10px transparent;
								position: absolute;
								left: 0;
								right: 0;
								bottom: -42px;
								margin: auto;
							}
						}
					}
					.dropdown-menu {
						margin: 2.65em 0 0 -18px;
						min-width: 250px;
						border-radius: 0;
						border: none;
						padding: .5em .5em 0;
						position: relative;						
						input {
							&[type="radio"] {
								display: none;
								&:checked + label {
									background: #edebe5;
									&:after {
										content: "";
										width: 7px;
										height: 7px;
										border-radius: 100%;
										border: none;
										background: $gris-d;
										display: block;
										position: absolute;
										left: 8px;
										top: 11px;
									}
								}
							}
						}
						label {
							display: block;							
							padding: .5em .5em .5em 2em;
							position: relative;
							text-transform: uppercase;
							font-size: .75em;
							&:before {
								content: "";
								width: 13px;
								height: 13px;
								border-radius: 100%;
								border: solid thin $gris-d;
								display: block;
								position: absolute;
								left: 5px;
								top: 8px;
							}
						}
					}
				}
			}
		}
	}
}

.project {
	&__title {
		margin: 3em 0;
		h2 {
			font-size: 1.5em;
			font-family: $play;
			text-transform: uppercase;
		}
	}
	&__box {
		border: solid thin $gris-l;
		padding: .5em;
		margin: 0 0 2em;
		width: 32%;
		figure {
			img {
				width: 100%;
				height: auto;
			}
			figcaption {
				min-height: 65px;
				h4 {
					color: $green-d;
					text-transform: uppercase;
					font-weight: 700;
					font-size: .75em;
					margin: 2em 0 0;
				}
				h2 {
					font-size: 1.125em;
					text-transform: uppercase;
				}
			}
		}
		.box-features {
			display: flex;
			justify-content: space-between;
			li {
				list-style: none;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 33%;
				height: 30px;
				border-right: solid thin $gris-l;
				span {
					margin: 0 .5em;
				}
				&:last-child {
					border-right: none;
				}
			}
		}
		.box-desc {
			display: flex;
			align-items: center;
			background: $gris-d;
			color: white;
			padding: 0 .5em;
			font-size: .75em;
			li {
				list-style: none;
				&:nth-child(1) {
					width: 30%;
					text-align: center;
				}
				&:nth-child(2) {
					width: 70%;
				}
			}
		}
		.box-bt {
			display: flex;
			li {
				list-style: none;
			}
		}
	}
}